@charset "UTF-8";
@font-face {
  font-family: 'Rubik';
  src: url("../font/Rubik-Regular.eot?") format("oldIE"), url("../font/Rubik-Regular.woff") format("woff"), url("../font/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoSansJP';
  src: url("../font/NotoSansJP-Regular.eot?") format("oldIE"), url("../font/NotoSansJP-Regular.woff") format("woff"), url("../font/NotoSansJP-Regular.ttf") format("truetype");
}

/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

body {
  box-sizing: border-box;
  font-family: "Rubik", "NotoSansJP";
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3.54167vw;
  line-height: 1.8;
  letter-spacing: .1em;
  color: #333;
}

@media (min-width: 481px) {
  body {
    font-size: 2.34375vw;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 19px;
  }
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style: none;
}

.br-sm {
  display: none;
}

@media (min-width: 481px) {
  .br-sm {
    display: block;
  }
}

.br-md {
  display: none;
}

@media (min-width: 769px) {
  .br-md {
    display: block;
  }
}

.br-lg {
  display: none;
}

@media (min-width: 1025px) {
  .br-lg {
    display: block;
  }
}

.txt-blue {
  color: #6b90db;
}

.txt-bold {
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  padding: 10.41667vw 0;
}

@media (min-width: 481px) {
  .section {
    padding: 6.51042vw 0;
  }
}

@media (min-width: 769px) {
  .section {
    padding: 80px 0;
  }
}

.section__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 4.16667vw;
}

@media (min-width: 481px) {
  .section__inner {
    padding: 0 2.60417vw;
  }
}

@media (min-width: 769px) {
  .section__inner {
    padding: 0 20px;
  }
}

.section__title {
  margin: 0 auto 8.33333vw;
  font-size: 6.66667vw;
  font-weight: 600;
  line-height: 1.5;
  color: #0079bf;
}

@media (min-width: 481px) {
  .section__title {
    margin: 0 auto 5.20833vw;
    font-size: 4.16667vw;
  }
}

@media (min-width: 769px) {
  .section__title {
    margin: 0 auto 40px;
    font-size: 32px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.625vw 5.20833vw rgba(77, 77, 99, 0.1);
}

@media (min-width: 481px) {
  .header {
    box-shadow: 0 0.39062vw 3.25521vw rgba(77, 77, 99, 0.1);
  }
}

@media (min-width: 769px) {
  .header {
    box-shadow: 0 3px 25px rgba(77, 77, 99, 0.1);
  }
}

.header__inner {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  height: 13.33333vw;
  margin: 0 auto;
  padding: 0 4.16667vw;
}

@media (min-width: 481px) {
  .header__inner {
    height: 8.33333vw;
    padding: 0 2.60417vw;
  }
}

@media (min-width: 769px) {
  .header__inner {
    height: 64px;
    padding: 0 20px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 3.54167vw;
  font-weight: 600;
  color: #333;
}

@media (min-width: 481px) {
  .header__logo {
    font-size: 2.34375vw;
  }
}

@media (min-width: 769px) {
  .header__logo {
    font-size: 19px;
  }
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: none;
  transition: none;
  outline: none;
  padding: 1.04167vw 3.125vw;
  border-radius: 6.25vw;
  font-size: 2.91667vw;
  background-color: #22bc92;
}

@media (min-width: 481px) {
  .header__btn {
    padding: 0.65104vw 1.95313vw;
    border-radius: 3.90625vw;
    font-size: 1.82292vw;
  }
}

@media (min-width: 769px) {
  .header__btn {
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
  }
}

.main {
  margin-top: 13.33333vw;
}

@media (min-width: 481px) {
  .main {
    margin-top: 8.33333vw;
  }
}

@media (min-width: 769px) {
  .main {
    margin-top: 64px;
  }
}

.footer {
  margin-top: auto;
  padding: 4.16667vw 0;
  background: #232b33;
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 481px) {
  .footer {
    padding: 2.60417vw 0;
  }
}

@media (min-width: 769px) {
  .footer {
    padding: 20px 0;
  }
}

.footer__inner {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 4.16667vw;
}

@media (min-width: 481px) {
  .footer__inner {
    padding: 0 2.60417vw;
  }
}

@media (min-width: 769px) {
  .footer__inner {
    padding: 20px 0;
  }
}

.mv {
  background: #6b90db;
  background: -moz-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
  background: -webkit-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
  background: linear-gradient(to right, rgba(107, 144, 219, 0.8) 0%, rgba(102, 213, 233, 0.8) 100%), url(/img/mv_bg.jpg);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
  background-size: cover;
  background-position: center;
}

@media (min-width: 769px) {
  .mv {
    border-radius: 0 0 50% 50%/0 0 8% 8%;
  }
}

@media (min-width: 769px) {
  .mv__inner {
    flex-direction: row;
    align-items: center;
  }
}

.mv__box {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .mv__box {
    width: 50%;
  }
}

.mv__title {
  color: #eee;
}

@media (min-width: 769px) {
  .mv__title {
    margin: 0 0 40px;
  }
}

.mv__txt {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .mv__txt {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mv__txt {
    margin-bottom: 40px;
  }
}

.mv__btn-pc {
  display: none;
}

@media (min-width: 769px) {
  .mv__btn-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition: none;
    transition: none;
    outline: none;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 3.125vw;
    border-radius: 6.25vw;
    box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
    background-color: #6D8EA2;
    background-color: #22bc92;
  }
}

@media (min-width: 769px) and (min-width: 481px) {
  .mv__btn-pc {
    padding: 1.95313vw;
    border-radius: 3.90625vw;
    box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) and (min-width: 769px) {
  .mv__btn-pc {
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

.mv__btn-sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: none;
  transition: none;
  outline: none;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 3.125vw;
  border-radius: 6.25vw;
  box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  background-color: #6D8EA2;
  background-color: #22bc92;
}

@media (min-width: 481px) {
  .mv__btn-sp {
    padding: 1.95313vw;
    border-radius: 3.90625vw;
    box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .mv__btn-sp {
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .mv__btn-sp {
    display: none;
  }
}

.mv__img {
  display: block;
  width: 100%;
}

.problem__item {
  position: relative;
  width: 100%;
  margin: 14.58333vw 0;
  padding: 4.16667vw;
  border-radius: 1.66667vw;
  box-shadow: 0 1.45833vw 3.33333vw 0 rgba(0, 0, 0, 0.07);
  background: #fff;
}

.problem__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 481px) {
  .problem__item {
    margin: 7.8125vw 0;
    padding: 3.51563vw 17.1875vw;
    border-radius: 1.04167vw;
    box-shadow: 0 0.91146vw 2.08333vw 0 rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 769px) {
  .problem__item {
    margin: 60px 0;
    padding: 27px 132px;
    border-radius: 8px;
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
  }
}

.problem__step {
  position: absolute;
  top: -12.5vw;
  left: 0;
  z-index: 1;
  width: 15.625vw;
  padding: 3.125vw 0;
  border-radius: 20.83333vw;
  text-align: center;
  font-size: 2.70833vw;
  color: #fff;
  background: #0079bf;
}

@media (min-width: 481px) {
  .problem__step {
    top: -4.94792vw;
    left: 0;
    width: 9.76562vw;
    padding: 1.95313vw 0;
    border-radius: 13.02083vw;
    font-size: 1.69271vw;
  }
}

@media (min-width: 769px) {
  .problem__step {
    top: -38px;
    left: 0;
    width: 75px;
    padding: 15px 0;
    border-radius: 100px;
    font-size: 13px;
  }
}

@media (min-width: 1025px) {
  .problem__step {
    left: -38px;
  }
}

.problem__num {
  display: block;
  font-size: 4.58333vw;
  line-height: 1;
}

@media (min-width: 481px) {
  .problem__num {
    font-size: 2.86458vw;
  }
}

@media (min-width: 769px) {
  .problem__num {
    font-size: 22px;
  }
}

.problem__txt {
  font-weight: 600;
}

.solution {
  background-color: #edf2f7;
}

.solution__txt {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .solution__txt {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .solution__txt {
    margin-bottom: 40px;
  }
}

.solution__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .solution__list {
    justify-content: space-between;
    margin: 0 auto 5.20833vw;
  }
}

@media (min-width: 769px) {
  .solution__list {
    justify-content: center;
    margin: 0 auto 40px;
  }
}

.solution__item {
  width: 100%;
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .solution__item {
    width: calc((100% - 64px) / 2);
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .solution__item {
    width: calc((100% - 64px) / 3);
    margin-bottom: 40px;
  }
}

.solution__item:last-child {
  margin-bottom: 0;
}

.solution__item-txt {
  text-align: center;
  font-size: 4.16667vw;
}

@media (min-width: 481px) {
  .solution__item-txt {
    font-size: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .solution__item-txt {
    font-size: 20px;
  }
}

.solution__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 20.83333vw;
  height: 20.83333vw;
  margin-right: auto;
  margin-bottom: 7.29167vw;
  margin-left: auto;
  border-radius: 50%;
  background: #0079bf;
}

@media (min-width: 481px) {
  .solution__icon {
    width: 13.02083vw;
    height: 13.02083vw;
    margin-bottom: 4.55729vw;
  }
}

@media (min-width: 769px) {
  .solution__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
}

.solution__icon--color {
  color: #fff;
}

.solution__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: none;
  transition: none;
  outline: none;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 3.125vw;
  border-radius: 6.25vw;
  box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  background-color: #6D8EA2;
  background-color: #6D8EA2;
}

@media (min-width: 481px) {
  .solution__btn {
    padding: 1.95313vw;
    border-radius: 3.90625vw;
    box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .solution__btn {
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

.service__txt {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .service__txt {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .service__txt {
    margin-bottom: 40px;
  }
}

.service__list {
  margin: 0 auto;
}

@media (min-width: 481px) {
  .service__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.service__item {
  width: 100%;
  min-height: auto;
  margin-bottom: 4.16667vw;
  padding: 4.16667vw;
  border-radius: 1.66667vw;
  box-shadow: 0 0.83333vw 1.66667vw rgba(33, 35, 37, 0.12);
  background-color: #fff;
}

@media (min-width: 481px) {
  .service__item {
    width: calc((100% - 64px) / 2);
    margin-bottom: 2.60417vw;
    padding: 2.60417vw;
    border-radius: 1.04167vw;
    box-shadow: 0 0.52083vw 1.04167vw rgba(33, 35, 37, 0.12);
  }
}

@media (min-width: 769px) {
  .service__item {
    width: calc((100% - 64px) / 3);
    min-height: 353px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(33, 35, 37, 0.12);
  }
}

.service__img {
  display: block;
  width: 35%;
  max-width: 160px;
  margin: 0 auto;
  border-radius: 16.66667vw;
  box-shadow: 0 0.41667vw 0.83333vw -0.20833vw rgba(0, 0, 0, 0.2);
}

@media (min-width: 481px) {
  .service__img {
    border-radius: 10.41667vw;
    box-shadow: 0 0.26042vw 0.52083vw -0.13021vw rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 769px) {
  .service__img {
    border-radius: 80px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }
}

.service__explanation {
  margin-top: 4.16667vw;
}

@media (min-width: 481px) {
  .service__explanation {
    margin-top: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .service__explanation {
    margin-top: 20px;
  }
}

.service__explanation-title {
  text-align: center;
  font-size: 4.16667vw;
}

@media (min-width: 481px) {
  .service__explanation-title {
    font-size: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .service__explanation-title {
    font-size: 20px;
  }
}

.service__explanation-txt {
  margin-top: 10px;
  font-size: 3.33333vw;
}

@media (min-width: 481px) {
  .service__explanation-txt {
    font-size: 2.08333vw;
  }
}

@media (min-width: 769px) {
  .service__explanation-txt {
    font-size: 15px;
  }
}

.flow {
  background-color: #edf2f7;
}

.flow__item {
  position: relative;
}

.flow__item:not(:last-child) {
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .flow__item:not(:last-child) {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .flow__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.flow__item:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: -8.33333vw;
  left: -webkit-calc(10% + 5.21vw - .42vw);
  left: calc(10% + 5.21vw - .42vw);
  z-index: 10;
  height: 12.5vw;
  border-left: 0.83333vw dotted #e5e5e5;
}

@media (min-width: 481px) {
  .flow__item:not(:first-child)::before {
    top: -5.20833vw;
    left: -webkit-calc(10% + 3.26vw - .26vw);
    left: calc(10% + 3.26vw - .26vw);
    height: 7.8125vw;
    border-left: 0.52083vw dotted #e5e5e5;
  }
}

@media (min-width: 769px) {
  .flow__item:not(:first-child)::before {
    top: -40px;
    left: -webkit-calc(10% + 25px - 2px);
    left: calc(10% + 25px - 2px);
    height: 60px;
    border-left: 4px dotted #e5e5e5;
  }
}

.flow__item:last-child > dl::before,
.flow__item:last-child > dl::after {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.flow__item-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 4.16667vw 6.25vw;
  border: 0.41667vw solid #6b90db;
  border-radius: 1.66667vw;
  background-color: #fff;
}

@media (min-width: 481px) {
  .flow__item-inside {
    padding: 2.60417vw 3.90625vw;
    border: 0.26042vw solid #6b90db;
    border-radius: 1.04167vw;
  }
}

@media (min-width: 769px) {
  .flow__item-inside {
    padding: 20px 30px;
    border: 2px solid #6b90db;
    border-radius: 8px;
  }
}

.flow__item-inside::before, .flow__item-inside::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.flow__item-inside::last-child::before, .flow__item-inside::last-child::after {
  border: none;
}

.flow__item-inside::before {
  border-width: 4.58333vw;
  border-top-color: #6b90db;
}

@media (min-width: 481px) {
  .flow__item-inside::before {
    border-width: 2.86458vw;
  }
}

@media (min-width: 769px) {
  .flow__item-inside::before {
    border-width: 22px;
  }
}

.flow__item-inside::after {
  border-width: 4.16667vw;
  border-top-color: #fff;
}

@media (min-width: 481px) {
  .flow__item-inside::after {
    border-width: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .flow__item-inside::after {
    border-width: 20px;
  }
}

.flow__item-title {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  margin-right: 2vw;
  text-align: center;
  font-size: 4.16667vw;
  font-weight: 600;
  color: #6b90db;
}

@media (min-width: 481px) {
  .flow__item-title {
    font-size: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .flow__item-title {
    font-size: 20px;
  }
}

.flow__item-icon {
  display: block;
  position: relative;
  z-index: 50;
  margin-bottom: 2.08333vw;
  padding: 1.04167vw 2.08333vw;
  border-radius: 4.16667vw;
  font-size: 2.5vw;
  color: #fff;
  background: #6b90db;
  background: -moz-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
  background: -webkit-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
  background: linear-gradient(to right, #6b90db 0%, #66d5e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
}

@media (min-width: 481px) {
  .flow__item-icon {
    margin-bottom: 1.30208vw;
    padding: 0.65104vw 1.30208vw;
    border-radius: 2.60417vw;
    font-size: 1.5625vw;
  }
}

@media (min-width: 769px) {
  .flow__item-icon {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
  }
}

.company__concept {
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .company__concept {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .company__concept {
    margin-bottom: 40px;
  }
}

@media (min-width: 769px) {
  .company__content {
    display: flex;
    align-items: center;
  }
}

.company__summary {
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .company__summary {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .company__summary {
    width: 50%;
    margin-bottom: 0;
  }
}

.company__name {
  margin-bottom: 4.16667vw;
  font-size: 4.58333vw;
}

@media (min-width: 481px) {
  .company__name {
    margin-bottom: 2.60417vw;
    font-size: 2.86458vw;
  }
}

@media (min-width: 769px) {
  .company__name {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.company__address {
  margin-bottom: 4.16667vw;
}

@media (min-width: 481px) {
  .company__address {
    margin-bottom: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .company__address {
    margin-bottom: 20px;
  }
}

.company__map {
  width: 100%;
}

@media (min-width: 769px) {
  .company__map {
    width: 50%;
  }
}

.company__google {
  display: block;
  width: 100%;
}

@media (min-width: 769px) {
  .company__google {
    height: 300px;
  }
}

.contact {
  background-color: #edf2f7;
}

.contact__txt {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .contact__txt {
    margin: 0 auto 5.20833vw;
  }
}

@media (min-width: 769px) {
  .contact__txt {
    margin: 0 auto 40px;
  }
}

.contact__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.16667vw;
}

@media (min-width: 481px) {
  .contact__phone {
    margin-bottom: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .contact__phone {
    margin-bottom: 20px;
  }
}

.contact__icon {
  color: #333;
}

.contact__num {
  margin-left: 4.16667vw;
  font-family: 'Fjalla One', sans-serif;
  font-size: 10.41667vw;
}

@media (min-width: 481px) {
  .contact__num {
    margin-left: 2.60417vw;
    font-size: 6.51042vw;
  }
}

@media (min-width: 769px) {
  .contact__num {
    margin-left: 20px;
    font-size: 50px;
  }
}

.contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: none;
  transition: none;
  outline: none;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 3.125vw;
  border-radius: 6.25vw;
  box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  background-color: #6D8EA2;
  background-color: #22bc92;
}

@media (min-width: 481px) {
  .contact__btn {
    padding: 1.95313vw;
    border-radius: 3.90625vw;
    box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .contact__btn {
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

.mail__description {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .mail__description {
    margin: 0 auto 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mail__description {
    margin: 0 auto 40px;
  }
}

.mail__step-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 8.33333vw;
  text-align: center;
}

@media (min-width: 481px) {
  .mail__step-bar {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mail__step-bar {
    margin-bottom: 40px;
  }
}

.mail__step-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 45.83333vw;
  margin-right: 3.75vw;
  padding: 2.5vw 1.66667vw;
  font-size: 3.125vw;
  color: #666;
  background-color: #edf2f7;
}

@media (min-width: 481px) {
  .mail__step-item {
    width: 28.64583vw;
    margin-right: 2.34375vw;
    padding: 2.5vw 1.04167vw;
    font-size: 1.95313vw;
  }
}

@media (min-width: 769px) {
  .mail__step-item {
    width: 220px;
    margin-right: 18px;
    padding: 12px 8px;
    font-size: 15px;
  }
}

.mail__step-item:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #edf2f7;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
}

.mail__step-completion {
  margin-right: 0;
}

.mail__step-completion:before {
  content: none;
}

.mail__visited {
  background-color: #0079bf;
  color: #fff;
}

.mail__visited:before {
  border-left-color: #0079bf;
}

.mail__item {
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .mail__item {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mail__item {
    margin-bottom: 40px;
  }
}

.mail__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4.16667vw;
}

@media (min-width: 481px) {
  .mail__item-name {
    margin-bottom: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .mail__item-name {
    margin-bottom: 20px;
  }
}

.mail__label {
  display: block;
  font-weight: 600;
}

.mail__required {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.08333vw;
  padding: 0 1.875vw;
  border-radius: 6.25vw;
  font-size: 2.5vw;
  color: #fff;
  background-color: #f63a52;
}

@media (min-width: 481px) {
  .mail__required {
    margin-left: 1.30208vw;
    padding: 0 1.17188vw;
    border-radius: 3.90625vw;
    font-size: 1.5625vw;
  }
}

@media (min-width: 769px) {
  .mail__required {
    margin-left: 10px;
    padding: 0 9px;
    border-radius: 30px;
    font-size: 12px;
  }
}

.mail__input {
  width: 100%;
  height: 10.41667vw;
  padding: 0 3.54167vw;
  outline: none;
  background-color: #edf2f7;
}

@media (min-width: 481px) {
  .mail__input {
    height: 6.51042vw;
    padding: 0 2.21354vw;
  }
}

@media (min-width: 769px) {
  .mail__input {
    height: 50px;
    padding: 0 17px;
  }
}

.mail__txtarea {
  width: 100%;
  height: 54.16667vw;
  padding: 3.54167vw;
  outline: none;
  background-color: #edf2f7;
}

@media (min-width: 481px) {
  .mail__txtarea {
    height: 33.85417vw;
    padding: 2.21354vw;
  }
}

@media (min-width: 769px) {
  .mail__txtarea {
    height: 260px;
    padding: 17px;
  }
}

.mail__btns {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 481px) {
  .mail__btns {
    flex-direction: row;
  }
}

.mail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: none;
  transition: none;
  outline: none;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 3.125vw;
  border-radius: 6.25vw;
  box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  background-color: #6D8EA2;
}

@media (min-width: 481px) {
  .mail__btn {
    padding: 1.95313vw;
    border-radius: 3.90625vw;
    box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .mail__btn {
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

.mail__btn--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: none;
  transition: none;
  outline: none;
  width: 50%;
  max-width: 250px;
  margin: 8.33333vw auto 0;
  padding: 3.125vw;
  border-radius: 6.25vw;
  box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  color: #333;
  background-color: #dfe2e7;
}

@media (min-width: 481px) {
  .mail__btn--back {
    margin-top: 0;
    margin-right: 5.20833vw;
    padding: 1.95313vw;
    border-radius: 3.90625vw;
    box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .mail__btn--back {
    margin: 0 auto;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

.mail__error-list {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .mail__error-list {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mail__error-list {
    margin-bottom: 40px;
  }
}

.mail__error-item {
  color: #f63a52;
}

.expert {
  background-color: #edf2f7;
}

.expert__tab-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 8.33333vw;
  box-shadow: 0 1.45833vw 3.33333vw 0 rgba(0, 0, 0, 0.07);
}

@media (min-width: 481px) {
  .expert__tab-list {
    margin-bottom: 5.20833vw;
    box-shadow: 0 0.91146vw 2.08333vw 0 rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 769px) {
  .expert__tab-list {
    flex-wrap: nowrap;
    margin-bottom: 40px;
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
  }
}

.expert__tab-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2.5vw 1.66667vw;
  border-bottom: solid 0.20833vw #edf2f7;
  text-align: center;
  font-size: 3.125vw;
  color: #666;
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 481px) {
  .expert__tab-item {
    padding: 1.5625vw 1.04167vw;
    border-bottom: solid 0.13021vw #edf2f7;
    font-size: 1.95313vw;
  }
}

@media (min-width: 769px) {
  .expert__tab-item {
    width: 100%;
    padding: 12px 8px;
    border-bottom: none;
    font-size: 15px;
  }
}

.expert__tab-item:not(:last-child) {
  border-right: solid 0.20833vw #edf2f7;
}

@media (min-width: 481px) {
  .expert__tab-item:not(:last-child) {
    border-right: solid 0.13021vw #edf2f7;
  }
}

@media (min-width: 769px) {
  .expert__tab-item:not(:last-child) {
    border-right: solid 1px #edf2f7;
  }
}

.expert__tab-item:nth-child(5), .expert__tab-item:nth-child(6) {
  border-bottom: none;
}

.expert__tab-item.is-active {
  background-color: #0079bf;
  color: #fff;
}

.expert__tab-target {
  display: none;
}

.expert__tab-target.is-active {
  display: block;
  animation: fade 0.5s ease;
}

.expert__content {
  box-shadow: 0 1.45833vw 3.33333vw 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
}

@media (min-width: 481px) {
  .expert__content {
    box-shadow: 0 0.91146vw 2.08333vw 0 rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 769px) {
  .expert__content {
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
  }
}

.expert__info {
  display: flex;
  align-items: center;
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .expert__info {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .expert__info {
    margin-bottom: 40px;
  }
}

.expert__info:last-child {
  margin-bottom: 0;
}

.expert__box {
  width: 50%;
}

.expert__img {
  display: block;
  width: 100%;
}

.expert__summary {
  padding: 4.16667vw;
}

@media (min-width: 481px) {
  .expert__summary {
    padding: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .expert__summary {
    padding: 20px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
