@font-face {
  font-family: 'Rubik';
  src: url("../font/Rubik-Regular.eot?") format("oldIE"), url("../font/Rubik-Regular.woff") format("woff"), url("../font/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoSansJP';
  src: url("../font/NotoSansJP-Regular.eot?") format("oldIE"), url("../font/NotoSansJP-Regular.woff") format("woff"), url("../font/NotoSansJP-Regular.ttf") format("truetype");
}

.sa {
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.sa.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.sa--up {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", "NotoSansJP";
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3.54167vw;
  line-height: 1.8;
  letter-spacing: .1em;
  color: #333;
}

@media (min-width: 481px) {
  body {
    font-size: 2.34375vw;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 19px;
  }
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style: none;
}

address {
  font-style: normal;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=url]:focus,
textarea:focus {
  outline: none;
}

.br {
  margin-top: 3.54167vw;
}

@media (min-width: 481px) {
  .br {
    margin-top: 2.34375vw;
  }
}

@media (min-width: 769px) {
  .br {
    margin-top: 19px;
  }
}

.br-sm {
  display: none;
}

@media (min-width: 481px) {
  .br-sm {
    display: block;
  }
}

.br-md {
  display: none;
}

@media (min-width: 769px) {
  .br-md {
    display: block;
  }
}

.br-lg {
  display: none;
}

@media (min-width: 1025px) {
  .br-lg {
    display: block;
  }
}

.txt-blue {
  color: #6b90db;
}

.txt-bold {
  font-weight: 600;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.section {
  padding: 10.41667vw 0;
}

@media (min-width: 481px) {
  .section {
    padding: 6.51042vw 0;
  }
}

@media (min-width: 769px) {
  .section {
    padding: 80px 0;
  }
}

.section__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 4.16667vw;
}

@media (min-width: 481px) {
  .section__inner {
    padding: 0 2.60417vw;
  }
}

@media (min-width: 769px) {
  .section__inner {
    padding: 0 20px;
  }
}

.section__title {
  margin: 0 auto 8.33333vw;
  font-size: 6.66667vw;
  font-weight: 600;
  line-height: 1.5;
  color: #0079bf;
}

@media (min-width: 481px) {
  .section__title {
    margin: 0 auto 5.20833vw;
    font-size: 4.16667vw;
  }
}

@media (min-width: 769px) {
  .section__title {
    margin: 0 auto 40px;
    font-size: 32px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0.625vw 5.20833vw rgba(77, 77, 99, 0.1);
          box-shadow: 0 0.625vw 5.20833vw rgba(77, 77, 99, 0.1);
}

@media (min-width: 481px) {
  .header {
    -webkit-box-shadow: 0 0.39062vw 3.25521vw rgba(77, 77, 99, 0.1);
            box-shadow: 0 0.39062vw 3.25521vw rgba(77, 77, 99, 0.1);
  }
}

@media (min-width: 769px) {
  .header {
    -webkit-box-shadow: 0 3px 25px rgba(77, 77, 99, 0.1);
            box-shadow: 0 3px 25px rgba(77, 77, 99, 0.1);
  }
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 4.16667vw;
}

@media (min-width: 481px) {
  .header__inner {
    padding: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .header__inner {
    padding: 20px;
  }
}

.header__logo {
  font-size: 4.58333vw;
  font-weight: 600;
}

@media (min-width: 481px) {
  .header__logo {
    font-size: 2.86458vw;
  }
}

@media (min-width: 769px) {
  .header__logo {
    font-size: 22px;
  }
}

.header__nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding-top: 19.16667vw;
  background-color: #edf2f7;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 200;
}

@media (min-width: 481px) {
  .header__nav {
    position: static;
    right: auto;
    top: auto;
    width: auto;
    height: auto;
    padding-top: initial;
    background-color: #fff;
  }
}

@media (min-width: 481px) {
  .header__nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav-item {
  padding-bottom: 8.33333vw;
  text-align: center;
  font-size: 4.58333vw;
  font-weight: 600;
}

@media (min-width: 481px) {
  .header__nav-item {
    padding-bottom: 0;
    font-size: 2.21354vw;
  }
}

@media (min-width: 769px) {
  .header__nav-item {
    padding-bottom: 0;
    font-size: 17px;
  }
}

@media (min-width: 481px) {
  .header__nav-item:not(:last-child) {
    margin-right: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .header__nav-item:not(:last-child) {
    margin-right: 20px;
  }
}

.header__burger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 300;
}

@media (min-width: 481px) {
  .header__burger {
    display: none;
  }
}

.header__burger-inner {
  position: relative;
  width: 8.33333vw;
  height: 6.25vw;
}

.header__burger-line {
  display: block;
  position: absolute;
  width: 8.33333vw;
  height: 1.04167vw;
  background: #636363;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 10.41667vw;
}

.header__burger-line--1 {
  top: 0;
}

.header__burger-line--2 {
  top: 2.70833vw;
}

.header__burger-line--3 {
  top: 5.41667vw;
}

.header__btn {
  display: block;
  min-width: 37.5vw;
  margin: 0 auto;
  padding: 3.125vw 8.33333vw;
  border-radius: 6.25vw;
  -webkit-box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  display: inline-block;
  padding: 1.66667vw 8.33333vw;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  font-size: 4.58333vw;
  background-color: #22bc92;
}

@media (min-width: 481px) {
  .header__btn {
    min-width: 23.4375vw;
    padding: 1.95313vw 5.20833vw;
    border-radius: 3.90625vw;
    -webkit-box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .header__btn {
    min-width: 180px;
    padding: 15px 40px;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 481px) {
  .header__btn {
    padding: 1.04167vw 5.20833vw;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    font-size: 1.82292vw;
  }
}

@media (min-width: 769px) {
  .header__btn {
    padding: 8px 40px;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    font-size: 14px;
  }
}

.header__btn:hover {
  background-color: #50a73f;
}

.nav-open .header__nav {
  right: 0;
}

.nav-open .header__burger-line--1 {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 2.70833vw;
}

.nav-open .header__burger-line--2 {
  opacity: 0;
}

.nav-open .header__burger-line--3 {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  top: 2.70833vw;
}

.main {
  margin-top: 16.875vw;
}

@media (min-width: 481px) {
  .main {
    margin-top: 10.54688vw;
  }
}

@media (min-width: 769px) {
  .main {
    margin-top: 81px;
  }
}

.footer {
  margin-top: auto;
  padding: 4.16667vw 0;
  background: #232b33;
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 481px) {
  .footer {
    padding: 2.60417vw 0;
  }
}

@media (min-width: 769px) {
  .footer {
    padding: 20px 0;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 4.16667vw;
}

@media (min-width: 481px) {
  .footer__inner {
    padding: 0 2.60417vw;
  }
}

@media (min-width: 769px) {
  .footer__inner {
    padding: 20px 0;
  }
}

#js-pagetop {
  opacity: 0;
}

#js-pagetop.fadein {
  opacity: 1;
}

#js-pagetop:hover {
  opacity: .8;
}

.pagetop {
  display: block;
  position: fixed;
  right: 3.125vw;
  bottom: 6.25vw;
  width: 10.41667vw;
  height: 10.41667vw;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
  line-height: 10.41667vw;
  background: #7db4e6;
}

@media (min-width: 481px) {
  .pagetop {
    right: 1.95313vw;
    bottom: 3.90625vw;
    width: 6.51042vw;
    height: 6.51042vw;
    line-height: 6.51042vw;
  }
}

@media (min-width: 769px) {
  .pagetop {
    right: 15px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.pagetop i {
  font-size: 4.16667vw;
  color: #fff;
  line-height: 10.41667vw;
}

@media (min-width: 481px) {
  .pagetop i {
    font-size: 2.60417vw;
    line-height: 6.51042vw;
  }
}

@media (min-width: 769px) {
  .pagetop i {
    font-size: 20px;
    line-height: 50px;
  }
}

.mv {
  background: -webkit-linear-gradient(315deg, #0079bf, #5067c5);
  background: linear-gradient(135deg, #0079bf, #5067c5);
}

@media (min-width: 769px) {
  .mv {
    border-radius: 0 0 50% 50%/0 0 8% 8%;
  }
}

@media (min-width: 769px) {
  .mv__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mv__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 769px) {
  .mv__box {
    width: 50%;
  }
}

.mv__title {
  color: #eee;
}

@media (min-width: 769px) {
  .mv__title {
    margin: 0 0 40px;
  }
}

.mv__txt {
  margin: 0 auto 8.33333vw;
  color: #eee;
}

@media (min-width: 481px) {
  .mv__txt {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mv__txt {
    margin-bottom: 40px;
  }
}

.mv__btn-pc {
  display: none;
}

@media (min-width: 769px) {
  .mv__btn-pc {
    display: block;
    min-width: 37.5vw;
    margin: 0 auto;
    padding: 3.125vw 8.33333vw;
    border-radius: 6.25vw;
    -webkit-box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    outline: none;
    background-color: #22bc92;
  }
}

@media (min-width: 769px) and (min-width: 481px) {
  .mv__btn-pc {
    min-width: 23.4375vw;
    padding: 1.95313vw 5.20833vw;
    border-radius: 3.90625vw;
    -webkit-box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) and (min-width: 769px) {
  .mv__btn-pc {
    min-width: 180px;
    padding: 15px 40px;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .mv__btn-pc:hover {
    background-color: #50a73f;
  }
}

.mv__btn-sp {
  display: block;
  min-width: 37.5vw;
  margin: 0 auto;
  padding: 3.125vw 8.33333vw;
  border-radius: 6.25vw;
  -webkit-box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  background-color: #22bc92;
  background-color: #22bc92;
}

@media (min-width: 481px) {
  .mv__btn-sp {
    min-width: 23.4375vw;
    padding: 1.95313vw 5.20833vw;
    border-radius: 3.90625vw;
    -webkit-box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .mv__btn-sp {
    min-width: 180px;
    padding: 15px 40px;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

.mv__btn-sp:hover {
  background-color: #50a73f;
}

@media (min-width: 769px) {
  .mv__btn-sp {
    display: none;
  }
}

.mv__img {
  display: block;
  width: 100%;
}

.problem__item {
  position: relative;
  width: 100%;
  margin: 14.58333vw 0;
  padding: 4.16667vw;
  border-radius: 1.66667vw;
  -webkit-box-shadow: 0 1.45833vw 3.33333vw 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 1.45833vw 3.33333vw 0 rgba(0, 0, 0, 0.07);
  background: #fff;
}

.problem__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 481px) {
  .problem__item {
    margin: 7.8125vw 0;
    padding: 3.51563vw 17.1875vw;
    border-radius: 1.04167vw;
    -webkit-box-shadow: 0 0.91146vw 2.08333vw 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 0.91146vw 2.08333vw 0 rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 769px) {
  .problem__item {
    margin: 60px 0;
    padding: 27px 132px;
    border-radius: 8px;
    -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
  }
}

.problem__step {
  position: absolute;
  top: -12.5vw;
  left: 0;
  z-index: 1;
  width: 15.625vw;
  padding: 3.125vw 0;
  border-radius: 20.83333vw;
  text-align: center;
  font-size: 2.70833vw;
  color: #fff;
  background: #0079bf;
}

@media (min-width: 481px) {
  .problem__step {
    top: -4.94792vw;
    left: 0;
    width: 9.76562vw;
    padding: 1.95313vw 0;
    border-radius: 13.02083vw;
    font-size: 1.69271vw;
  }
}

@media (min-width: 769px) {
  .problem__step {
    top: -38px;
    left: 0;
    width: 75px;
    padding: 15px 0;
    border-radius: 100px;
    font-size: 13px;
  }
}

@media (min-width: 1025px) {
  .problem__step {
    left: -38px;
  }
}

.problem__num {
  display: block;
  font-size: 4.58333vw;
  line-height: 1;
}

@media (min-width: 481px) {
  .problem__num {
    font-size: 2.86458vw;
  }
}

@media (min-width: 769px) {
  .problem__num {
    font-size: 22px;
  }
}

.problem__txt {
  font-weight: 600;
}

.solution {
  background-color: #edf2f7;
}

.solution__txt {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .solution__txt {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .solution__txt {
    margin-bottom: 40px;
  }
}

.solution__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .solution__list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 5.20833vw;
  }
}

@media (min-width: 769px) {
  .solution__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 40px;
  }
}

.solution__item {
  width: 100%;
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .solution__item {
    width: calc((100% - 64px) / 2);
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .solution__item {
    width: calc((100% - 64px) / 3);
    margin-bottom: 40px;
  }
}

.solution__item:last-child {
  margin-bottom: 0;
}

.solution__item-txt {
  text-align: center;
  font-size: 4.16667vw;
}

@media (min-width: 481px) {
  .solution__item-txt {
    font-size: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .solution__item-txt {
    font-size: 20px;
  }
}

.solution__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 20.83333vw;
  height: 20.83333vw;
  margin-right: auto;
  margin-bottom: 7.29167vw;
  margin-left: auto;
  border-radius: 50%;
  background: #0079bf;
}

@media (min-width: 481px) {
  .solution__icon {
    width: 13.02083vw;
    height: 13.02083vw;
    margin-bottom: 4.55729vw;
  }
}

@media (min-width: 769px) {
  .solution__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
}

.solution__icon--color {
  color: #fff;
}

.solution__btn {
  display: block;
  min-width: 37.5vw;
  margin: 0 auto;
  padding: 3.125vw 8.33333vw;
  border-radius: 6.25vw;
  -webkit-box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  background-color: #6D8EA2;
}

@media (min-width: 481px) {
  .solution__btn {
    min-width: 23.4375vw;
    padding: 1.95313vw 5.20833vw;
    border-radius: 3.90625vw;
    -webkit-box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .solution__btn {
    min-width: 180px;
    padding: 15px 40px;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

.solution__btn:hover {
  background-color: #5b7b8e;
}

.service__txt {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .service__txt {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .service__txt {
    margin-bottom: 40px;
  }
}

.service__list {
  margin: 0 auto;
}

@media (min-width: 481px) {
  .service__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.service__item {
  width: 100%;
  min-height: auto;
  margin-bottom: 4.16667vw;
  padding: 4.16667vw;
  border-radius: 1.66667vw;
  -webkit-box-shadow: 0 0.83333vw 1.66667vw rgba(33, 35, 37, 0.12);
          box-shadow: 0 0.83333vw 1.66667vw rgba(33, 35, 37, 0.12);
  background-color: #fff;
}

@media (min-width: 481px) {
  .service__item {
    width: calc((100% - 64px) / 2);
    margin-bottom: 2.60417vw;
    padding: 2.60417vw;
    border-radius: 1.04167vw;
    -webkit-box-shadow: 0 0.52083vw 1.04167vw rgba(33, 35, 37, 0.12);
            box-shadow: 0 0.52083vw 1.04167vw rgba(33, 35, 37, 0.12);
  }
}

@media (min-width: 769px) {
  .service__item {
    width: calc((100% - 64px) / 3);
    min-height: 353px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 8px rgba(33, 35, 37, 0.12);
            box-shadow: 0 4px 8px rgba(33, 35, 37, 0.12);
  }
}

.service__img {
  display: block;
  width: 35%;
  max-width: 160px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.41667vw 0.83333vw -0.20833vw rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.41667vw 0.83333vw -0.20833vw rgba(0, 0, 0, 0.2);
}

@media (min-width: 481px) {
  .service__img {
    -webkit-box-shadow: 0 0.26042vw 0.52083vw -0.13021vw rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.26042vw 0.52083vw -0.13021vw rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 769px) {
  .service__img {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }
}

.service__explanation {
  margin-top: 4.16667vw;
}

@media (min-width: 481px) {
  .service__explanation {
    margin-top: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .service__explanation {
    margin-top: 20px;
  }
}

.service__explanation-title {
  text-align: center;
  font-size: 4.16667vw;
}

@media (min-width: 481px) {
  .service__explanation-title {
    font-size: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .service__explanation-title {
    font-size: 20px;
  }
}

.service__explanation-txt {
  margin-top: 10px;
  font-size: 3.33333vw;
}

@media (min-width: 481px) {
  .service__explanation-txt {
    font-size: 2.08333vw;
  }
}

@media (min-width: 769px) {
  .service__explanation-txt {
    font-size: 15px;
  }
}

.flow {
  background-color: #edf2f7;
}

.flow__item {
  position: relative;
}

.flow__item:not(:last-child) {
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .flow__item:not(:last-child) {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .flow__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.flow__item:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: -8.33333vw;
  left: calc(10% + 5.21vw - .42vw);
  z-index: 10;
  height: 12.5vw;
  border-left: 0.83333vw dotted #e5e5e5;
}

@media (min-width: 481px) {
  .flow__item:not(:first-child)::before {
    top: -5.20833vw;
    left: calc(10% + 3.26vw - .26vw);
    height: 7.8125vw;
    border-left: 0.52083vw dotted #e5e5e5;
  }
}

@media (min-width: 769px) {
  .flow__item:not(:first-child)::before {
    top: -40px;
    left: calc(10% + 25px - 2px);
    height: 60px;
    border-left: 4px dotted #e5e5e5;
  }
}

.flow__item:last-child > dl::before,
.flow__item:last-child > dl::after {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.flow__item-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 4.16667vw 6.25vw;
  border-radius: 1.66667vw;
  background-color: #fff;
  -webkit-box-shadow: 0 1.45833vw 3.33333vw 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 1.45833vw 3.33333vw 0 rgba(0, 0, 0, 0.07);
}

@media (min-width: 481px) {
  .flow__item-inside {
    padding: 2.60417vw 3.90625vw;
    border-radius: 1.04167vw;
    -webkit-box-shadow: 0 0.91146vw 2.08333vw 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 0.91146vw 2.08333vw 0 rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 769px) {
  .flow__item-inside {
    padding: 20px 30px;
    border-radius: 8px;
    -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
  }
}

.flow__item-inside::before, .flow__item-inside::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid transparent;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.flow__item-inside::last-child::before, .flow__item-inside::last-child::after {
  border: none;
}

.flow__item-inside::before {
  border-width: 4.58333vw;
}

@media (min-width: 481px) {
  .flow__item-inside::before {
    border-width: 2.86458vw;
  }
}

@media (min-width: 769px) {
  .flow__item-inside::before {
    border-width: 22px;
  }
}

.flow__item-inside::after {
  border-width: 4.16667vw;
  border-top-color: #fff;
}

@media (min-width: 481px) {
  .flow__item-inside::after {
    border-width: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .flow__item-inside::after {
    border-width: 20px;
  }
}

.flow__item-title {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  margin-right: 2vw;
  text-align: center;
  font-size: 4.16667vw;
  font-weight: 600;
  color: #0079bf;
}

@media (min-width: 481px) {
  .flow__item-title {
    font-size: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .flow__item-title {
    font-size: 20px;
  }
}

.flow__item-icon {
  display: block;
  position: relative;
  z-index: 50;
  margin-bottom: 2.08333vw;
  padding: 1.04167vw 2.08333vw;
  border-radius: 4.16667vw;
  font-size: 2.5vw;
  color: #fff;
  background: -webkit-linear-gradient(315deg, #0079bf, #5067c5);
  background: linear-gradient(135deg, #0079bf, #5067c5);
}

@media (min-width: 481px) {
  .flow__item-icon {
    margin-bottom: 1.30208vw;
    padding: 0.65104vw 1.30208vw;
    border-radius: 2.60417vw;
    font-size: 1.5625vw;
  }
}

@media (min-width: 769px) {
  .flow__item-icon {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
  }
}

.company__concept {
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .company__concept {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .company__concept {
    margin-bottom: 40px;
  }
}

@media (min-width: 769px) {
  .company__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.company__summary {
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .company__summary {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .company__summary {
    width: 50%;
    margin-bottom: 0;
  }
}

.company__name {
  margin-bottom: 4.16667vw;
  font-size: 4.58333vw;
}

@media (min-width: 481px) {
  .company__name {
    margin-bottom: 2.60417vw;
    font-size: 2.86458vw;
  }
}

@media (min-width: 769px) {
  .company__name {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.company__address {
  margin-bottom: 4.16667vw;
}

@media (min-width: 481px) {
  .company__address {
    margin-bottom: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .company__address {
    margin-bottom: 20px;
  }
}

.company__map {
  width: 100%;
}

@media (min-width: 769px) {
  .company__map {
    width: 50%;
  }
}

.company__google {
  display: block;
  width: 100%;
}

@media (min-width: 769px) {
  .company__google {
    height: 300px;
  }
}

.contact {
  background-color: #edf2f7;
}

.contact__txt {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .contact__txt {
    margin: 0 auto 5.20833vw;
  }
}

@media (min-width: 769px) {
  .contact__txt {
    margin: 0 auto 40px;
  }
}

.contact__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.16667vw;
}

@media (min-width: 481px) {
  .contact__phone {
    margin-bottom: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .contact__phone {
    margin-bottom: 20px;
  }
}

.contact__icon {
  color: #333;
}

.contact__num {
  margin-left: 4.16667vw;
  font-family: 'Fjalla One', sans-serif;
  font-size: 10.41667vw;
}

@media (min-width: 481px) {
  .contact__num {
    margin-left: 2.60417vw;
    font-size: 6.51042vw;
  }
}

@media (min-width: 769px) {
  .contact__num {
    margin-left: 20px;
    font-size: 50px;
  }
}

.contact__btn {
  display: block;
  min-width: 37.5vw;
  margin: 0 auto;
  padding: 3.125vw 8.33333vw;
  border-radius: 6.25vw;
  -webkit-box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  background-color: #22bc92;
}

@media (min-width: 481px) {
  .contact__btn {
    min-width: 23.4375vw;
    padding: 1.95313vw 5.20833vw;
    border-radius: 3.90625vw;
    -webkit-box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .contact__btn {
    min-width: 180px;
    padding: 15px 40px;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

.contact__btn:hover {
  background-color: #50a73f;
}

.mail__description {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .mail__description {
    margin: 0 auto 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mail__description {
    margin: 0 auto 40px;
  }
}

.mail__step-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8.33333vw;
  text-align: center;
}

@media (min-width: 481px) {
  .mail__step-bar {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mail__step-bar {
    margin-bottom: 40px;
  }
}

.mail__step-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 45.83333vw;
  margin-right: 3.75vw;
  padding: 2.5vw 1.66667vw;
  font-size: 3.125vw;
  color: #666;
  background-color: #edf2f7;
}

@media (min-width: 481px) {
  .mail__step-item {
    width: 28.64583vw;
    margin-right: 2.34375vw;
    padding: 2.5vw 1.04167vw;
    font-size: 1.95313vw;
  }
}

@media (min-width: 769px) {
  .mail__step-item {
    width: 220px;
    margin-right: 18px;
    padding: 12px 8px;
    font-size: 15px;
  }
}

.mail__step-item:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #edf2f7;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
}

.mail__step-completion {
  margin-right: 0;
}

.mail__step-completion:before {
  content: none;
}

.mail__visited {
  background-color: #0079bf;
  color: #fff;
}

.mail__visited:before {
  border-left-color: #0079bf;
}

.mail__item {
  margin-bottom: 8.33333vw;
}

@media (min-width: 481px) {
  .mail__item {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mail__item {
    margin-bottom: 40px;
  }
}

.mail__item-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.16667vw;
}

@media (min-width: 481px) {
  .mail__item-name {
    margin-bottom: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .mail__item-name {
    margin-bottom: 20px;
  }
}

.mail__label {
  display: block;
  font-weight: 600;
}

.mail__required {
  height: 6.25vw;
  margin-left: 2.08333vw;
  padding: 0 1.875vw;
  border-radius: 6.25vw;
  font-size: 2.5vw;
  line-height: 6.25vw;
  color: #fff;
  background-color: #f63a52;
}

@media (min-width: 481px) {
  .mail__required {
    height: 3.90625vw;
    margin-left: 1.30208vw;
    padding: 0 1.17188vw;
    border-radius: 3.90625vw;
    font-size: 1.5625vw;
    line-height: 3.90625vw;
  }
}

@media (min-width: 769px) {
  .mail__required {
    height: 30px;
    margin-left: 10px;
    padding: 0 9px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 30px;
  }
}

.mail__input {
  width: 100%;
  height: 10.41667vw;
  padding: 0 3.54167vw;
  border-radius: 1.66667vw;
  background-color: #edf2f7;
}

@media (min-width: 481px) {
  .mail__input {
    height: 6.51042vw;
    padding: 0 2.21354vw;
    border-radius: 1.04167vw;
  }
}

@media (min-width: 769px) {
  .mail__input {
    height: 50px;
    padding: 0 17px;
    border-radius: 8px;
  }
}

.mail__input::-webkit-input-placeholder {
  letter-spacing: .08em;
  color: #ccc;
}

.mail__input:-ms-input-placeholder {
  letter-spacing: .08em;
  color: #ccc;
}

.mail__input::-ms-input-placeholder {
  letter-spacing: .08em;
  color: #ccc;
}

.mail__input::placeholder {
  letter-spacing: .08em;
  color: #ccc;
}

.mail__txtarea {
  width: 100%;
  height: 54.16667vw;
  padding: 3.54167vw;
  resize: none;
  border-radius: 1.66667vw;
  background-color: #edf2f7;
}

@media (min-width: 481px) {
  .mail__txtarea {
    height: 33.85417vw;
    padding: 2.21354vw;
    border-radius: 1.04167vw;
  }
}

@media (min-width: 769px) {
  .mail__txtarea {
    height: 260px;
    padding: 17px;
    border-radius: 8px;
  }
}

.mail__txtarea::-webkit-input-placeholder {
  letter-spacing: .08em;
  color: #ccc;
}

.mail__txtarea:-ms-input-placeholder {
  letter-spacing: .08em;
  color: #ccc;
}

.mail__txtarea::-ms-input-placeholder {
  letter-spacing: .08em;
  color: #ccc;
}

.mail__txtarea::placeholder {
  letter-spacing: .08em;
  color: #ccc;
}

.mail__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 481px) {
  .mail__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.mail__btn {
  display: block;
  min-width: 37.5vw;
  margin: 0 auto;
  padding: 3.125vw 8.33333vw;
  border-radius: 6.25vw;
  -webkit-box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  background-color: #6D8EA2;
}

@media (min-width: 481px) {
  .mail__btn {
    min-width: 23.4375vw;
    padding: 1.95313vw 5.20833vw;
    border-radius: 3.90625vw;
    -webkit-box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .mail__btn {
    min-width: 180px;
    padding: 15px 40px;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

.mail__btn:hover {
  background-color: #5b7b8e;
}

.mail__btn--back {
  display: block;
  min-width: 37.5vw;
  margin: 0 auto;
  padding: 3.125vw 8.33333vw;
  border-radius: 6.25vw;
  -webkit-box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.41667vw 1.66667vw rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  margin: 8.33333vw auto 0;
  color: #333;
  background-color: #dfe2e7;
}

@media (min-width: 481px) {
  .mail__btn--back {
    min-width: 23.4375vw;
    padding: 1.95313vw 5.20833vw;
    border-radius: 3.90625vw;
    -webkit-box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.26042vw 1.04167vw rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 769px) {
  .mail__btn--back {
    min-width: 180px;
    padding: 15px 40px;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 481px) {
  .mail__btn--back {
    margin-top: 0;
    margin-right: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mail__btn--back {
    margin: 0 auto;
  }
}

.mail__btn--back:hover {
  background-color: #b6bbbf;
  color: #fff;
}

.mail__error-list {
  margin: 0 auto 8.33333vw;
}

@media (min-width: 481px) {
  .mail__error-list {
    margin-bottom: 5.20833vw;
  }
}

@media (min-width: 769px) {
  .mail__error-list {
    margin-bottom: 40px;
  }
}

.mail__error-item {
  color: #f63a52;
}

.expert {
  background-color: #edf2f7;
}

.expert__tab-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 16.66667vw;
  -webkit-box-shadow: 0 1.45833vw 3.33333vw 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 1.45833vw 3.33333vw 0 rgba(0, 0, 0, 0.07);
}

@media (min-width: 481px) {
  .expert__tab-list {
    margin-bottom: 10.41667vw;
    -webkit-box-shadow: 0 0.91146vw 2.08333vw 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 0.91146vw 2.08333vw 0 rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 769px) {
  .expert__tab-list {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    margin-bottom: 80px;
    -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
  }
}

.expert__tab-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 2.5vw 1.66667vw;
  border-bottom: solid 0.20833vw #edf2f7;
  text-align: center;
  font-size: 3.125vw;
  color: #666;
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 481px) {
  .expert__tab-item {
    padding: 1.5625vw 1.04167vw;
    border-bottom: solid 0.13021vw #edf2f7;
    font-size: 1.95313vw;
  }
}

@media (min-width: 769px) {
  .expert__tab-item {
    width: 100%;
    padding: 12px 8px;
    border-bottom: none;
    font-size: 15px;
  }
}

.expert__tab-item:not(:last-child) {
  border-right: solid 0.20833vw #edf2f7;
}

@media (min-width: 481px) {
  .expert__tab-item:not(:last-child) {
    border-right: solid 0.13021vw #edf2f7;
  }
}

@media (min-width: 769px) {
  .expert__tab-item:not(:last-child) {
    border-right: solid 1px #edf2f7;
  }
}

.expert__tab-item:nth-child(5), .expert__tab-item:nth-child(6) {
  border-bottom: none;
}

.expert__tab-item.is-active {
  background-color: #0079bf;
  color: #fff;
}

.expert__tab-target {
  display: none;
}

.expert__tab-target.is-active {
  display: block;
  -webkit-animation: fade 0.5s ease;
          animation: fade 0.5s ease;
}

.expert__info {
  margin-bottom: 16.66667vw;
}

@media (min-width: 481px) {
  .expert__info {
    margin-bottom: 10.41667vw;
  }
}

@media (min-width: 769px) {
  .expert__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
  }
}

.expert__info:last-child {
  margin-bottom: 0;
}

.expert__box {
  width: 100%;
}

@media (min-width: 769px) {
  .expert__box {
    width: 50%;
  }
}

.expert__img {
  display: block;
  width: 100%;
}

.expert__summary {
  padding: 4.16667vw;
}

@media (min-width: 481px) {
  .expert__summary {
    padding: 2.60417vw;
  }
}

@media (min-width: 769px) {
  .expert__summary {
    padding: 20px;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */