@import './mixin/colors';
@import './mixin/font';
@import './mixin/btn';
@import './mixin/breakpoint';
@import './mixin/conversion';
@import './mixin/scroll-animation';

@import './base/base';

@import './module/header';
@import './module/main';
@import './module/footer';
@import './module/pagetop';

@import './page/block/mv';
@import './page/block/problem';
@import './page/block/solution';
@import './page/block/service';
@import './page/block/flow';
@import './page/block/company';
@import './page/block/contact';
@import './page/contact/block/mail';
@import './page/expert/block/expert';
