$initType: 'normal';

@mixin _btn($type:$initType) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: none;
  transition: none;
  outline: none;

  @if( $type == 'normal' ) {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: get_vw(15);
    border-radius: get_vw(30);
    box-shadow: 0 get_vw(2) get_vw(8) rgba(0, 0, 0, 0.5);
    background-color: $btn;
    @include sm() {
      padding: get_vw-sm(15);
      border-radius: get_vw-sm(30);
      box-shadow: 0 get_vw-sm(2) get_vw-sm(8) rgba(0, 0, 0, 0.5);
    }
    @include md() {
      padding: 15px;
      border-radius: 30px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    }
  }

  @if( $type == 'back' ) {
    width: 50%;
    max-width: 250px;
    margin: get_vw(40) auto 0;
    padding: get_vw(15);
    border-radius: get_vw(30);
    box-shadow: 0 get_vw(2) get_vw(8) rgba(0, 0, 0, 0.5);
    color: $txt;
    background-color: $btn--back;
    @include sm() {
      margin-top: 0;
      margin-right: get_vw-sm(40);
      padding: get_vw-sm(15);
      border-radius: get_vw-sm(30);
      box-shadow: 0 get_vw-sm(2) get_vw-sm(8) rgba(0, 0, 0, 0.5);
    }
    @include md() {
      margin: 0 auto;
      padding: 15px;
      border-radius: 30px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    }
  }

  @else if( $type == 'header' ) {
    padding: get_vw(5) get_vw(15);
    border-radius: get_vw(30);
    font-size: get_vw(14);
    background-color: $accent;
    @include sm() {
      padding: get_vw-sm(5) get_vw-sm(15);
      border-radius: get_vw-sm(30);
      font-size: get_vw-sm(14);
    }
    @include md() {
      padding: 5px 15px;
      border-radius: 30px;
      font-size: 14px;
    }
  }
}
