$main: #0079bf;
$accent: #22bc92;
$accent--hover: #50a73f;
$txt: #333;
$bgc: #edf2f7;
$btn__normal: #6D8EA2;
$btn__normal--hover: #5b7b8e;
$btn__back: #dfe2e7;
$btn__back--hover: #b6bbbf;
$pagetop: #7db4e6;
$gradation: linear-gradient(to right, #6b90db 0%, #66d5e9 100%);
// background: -moz-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
// background: -webkit-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
// background: linear-gradient(to right, #6b90db 0%, #66d5e9 100%);
