$main: #0079bf;
$accent: #22bc92;
$txt: #333;
$bgc: #edf2f7;
$btn: #6D8EA2;
$btn--back: #dfe2e7;
$gradation: linear-gradient(to right, #6b90db 0%, #66d5e9 100%);
// background: -moz-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
// background: -webkit-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
// background: linear-gradient(to right, #6b90db 0%, #66d5e9 100%);
