.company {
  &__concept {
    margin-bottom: get_vw(40);
    @include sm() {
      margin-bottom: get_vw-sm(40);
    }
    @include md() {
      margin-bottom: 40px;
    }
  }
  &__content {
    @include md() {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  &__summary {
    margin-bottom: get_vw(40);
    @include sm() {
      margin-bottom: get_vw-sm(40);
    }
    @include md() {
      width: 50%;
      margin-bottom: 0;
    }
  }
  &__name {
    margin-bottom: get_vw(20);
    font-size: get_vw(22);
    @include sm() {
      margin-bottom: get_vw-sm(20);
      font-size: get_vw-sm(22);
    }
    @include md() {
      margin-bottom: 20px;
      font-size: 22px;
    }
  }
  &__address {
    margin-bottom: get_vw(20);
    @include sm() {
      margin-bottom: get_vw-sm(20);
    }
    @include md() {
      margin-bottom: 20px;
    }
  }
  &__map {
    width: 100%;
    @include md() {
      width: 50%;
    }
  }
  &__google {
    display: block;
    width: 100%;
    @include md() {
      height: 300px;
    }
  }
}
