.contact {
  background-color: #edf2f7;
  &__txt {
    margin: 0 auto get_vw(40);
    @include sm() {
      margin: 0 auto get_vw-sm(40);
    }
    @include md() {
      margin: 0 auto 40px;
    }
  }
  &__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: get_vw(20);
    @include sm() {
      margin-bottom: get_vw-sm(20);
    }
    @include md() {
      margin-bottom: 20px;
    }
  }
  &__icon {
    color: #333;
  }
  &__num {
    margin-left: get_vw(20);
    font-family: 'Fjalla One', sans-serif;
    font-size: get_vw(50);
    @include sm() {
      margin-left: get_vw-sm(20);
      font-size: get_vw-sm(50);
    }
    @include md() {
      margin-left: 20px;
      font-size: 50px;
    }
  }
  &__btn {
    @include _btn('contact');
  }
}
