.expert {
  &__list {
    max-width: 300px;
    margin: 45px auto 45px;
    list-style: none;
    @include md() {
      max-width: 350px;
    }
  }
  &__btn {
    @include _btn;
    background-color: #329eff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    @include md() {
      max-width: 350px;
    }
  }
}
