.expert {
  &__list {
    margin: 0 auto get_vw(40);
    @include sm() {
      margin: 0 auto get_vw-sm(40);
    }
    @include md() {
      margin: 0 auto 40px;
    }
  }
  &__btn {
    @include _btn('normal');
    background-color: #329eff;
  }
}
