.expert {
  background-color: #edf2f7;
  &__txt {
    margin: 0 auto get_vw(40);
    @include sm() {
      margin-bottom: get_vw-sm(40);
    }
    @include md() {
      margin-bottom: 40px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto get_vw(40);
    @include sm() {
      justify-content: space-between;
      margin: 0 auto get_vw-sm(40);
    }
    @include md() {
      justify-content: center;
      margin: 0 auto 40px;
    }
  }
  &__item {
    width: 100%;
    margin-bottom: get_vw(40);
    @include sm() {
      width: calc((100% - 64px) / 2);
      margin-bottom: get_vw-sm(40);
    }
    @include md() {
      width: calc((100% - 64px) / 3);
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-txt {
      text-align: center;
      font-size: get_vw(20);
      @include sm() {
        font-size: get_vw-sm(20);
      }
      @include md() {
        font-size: 20px;
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: get_vw(100);
    height: get_vw(100);
    margin-right: auto;
    margin-bottom: get_vw(35);
    margin-left: auto;
    border-radius: 50%;
    background: $main;
    @include sm() {
      width: get_vw-sm(100);
      height: get_vw-sm(100);
      margin-bottom: get_vw-sm(35);
    }
    @include md() {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }
    &--color {
      color: #fff;
    }
  }
  &__btn {
    @include _btn('normal');
    background-color: $btn;
  }
}
