.mv {
  background: #d4e7f6;
  @include md() {
    border-radius: 0 0 50% 50%/0 0 8% 8%;
  }
  &__inner {
    @include md() {
      flex-direction: row;
      align-items: center;
    }
  }
  &__intro {
    display: flex;
    flex-direction: column;
    @include md() {
      width: 50%;
    }
  }
  &__title {
    @include md() {
      margin: 0 0 40px;
    }
  }
  &__img {
    display: block;
    max-width: 540px;
    width: 100%;
    margin: 0 auto get_vw(20);
    @include sm() {
      margin: 0 auto get_vw-sm(20);
    }
    @include md() {
      width: 50%;
      margin: 0 auto 20px;
    }
  }
  &__txt {
    margin: 0 auto;
  }
}
