.mv {
  background: rgb(107,144,219);
  background: -moz-linear-gradient(left, rgba(107,144,219,1) 0%, rgba(102,213,233,1) 100%);
  background: -webkit-linear-gradient(left, rgba(107,144,219,1) 0%, rgba(102,213,233,1) 100%);
  background: linear-gradient(to right, rgba(107, 144, 219, .8) 0%, rgba(102, 213, 233, .8) 100%), url(/img/mv_bg.jpg);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
  background-size: cover;
  background-position: center;
  @include md() {
    border-radius: 0 0 50% 50%/0 0 8% 8%;
  }
  &__inner {
    @include md() {
      flex-direction: row;
      align-items: center;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    @include md() {
      width: 50%;
    }
  }
  &__title {
    color: #eee;
    @include md() {
      margin: 0 0 40px;
    }
  }
  &__txt {
    margin: 0 auto get_vw(40);
    @include sm() {
      margin-bottom: get_vw-sm(40);
    }
    @include md() {
      margin-bottom: 40px;
    }
  }
  &__btn {
    &-pc {
      display: none;
      @include md() {
        @include _btn;
        background-color: #22bc92;
      }
    }
    &-sp {
      @include _btn;
      background-color: #22bc92;
      @include md() {
        display: none;
      }
    }
  }
  &__img {
    display: block;
    width: 100%;
  }
}
