.problem {
  &__item {
    position: relative;
    width: 100%;
    margin: get_vw(70) 0;
    padding: get_vw(20);
    border-radius: get_vw(8);
    box-shadow: 0 get_vw(7) get_vw(16) 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    &:last-child {
      margin-bottom: 0;
    }
    @include sm() {
      margin: get_vw-sm(60) 0;
      padding: get_vw-sm(27) get_vw-sm(132);
      border-radius: get_vw-sm(8);
      box-shadow: 0 get_vw-sm(7) get_vw-sm(16) 0 rgba(0, 0, 0, 0.07);
    }
    @include md() {
      margin: 60px 0;
      padding: 27px 132px;
      border-radius: 8px;
      box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.07);
    }
  }
  &__step {
    position: absolute;
    top: get_vw(-60);
    left: 0;
    z-index: 1;
    width: get_vw(77);
    padding: get_vw(15) 0;
    border-radius: get_vw(100);
    text-align: center;
    font-size: get_vw(13);
    color: #fff;
    background: $main;
    @include sm() {
      top: get_vw-sm(-38);
      left: 0;
      width: get_vw-sm(77);
      padding: get_vw-sm(15) 0;
      border-radius: get_vw-sm(100);
      font-size: get_vw-sm(13);
    }
    @include md() {
      top: -38px;
      left: 0;
      width: 78px;
      padding: 15px 0;
      border-radius: 100px;
      font-size: 13px;
    }
    @include lg() {
      left: -38px;
    }
  }
  &__num {
    display: block;
    font-size: get_vw(22);
    line-height: 1;
    @include sm() {
      font-size: get_vw-sm(22);
    }
    @include md() {
      font-size: 22px;
    }
  }
  &__txt {
    font-weight: 600;
  }
}
