.service {
  background-color: #edf2f7;
  &__list {
    margin: 45px auto;
    @include md() {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__item {
    width: 100%;
    min-height: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(33,35,37,.12);
    border-radius: 8px;
    @include md() {
      width: calc((100% - 64px) / 3);
      min-height: 353px;
    }
  }
  &__img {
    display: block;
    width: 35%;
    max-width: 160px;
    margin: 0 auto;
    border-radius: 80px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2);
  }
  &__explanation {
    margin-top: 20px;
    &-title {
      text-align: center;
      font-size: 22px;
      @include md() {
        font-size: 20px;
      }
    }
    &-txt {
      margin-top: 10px;
      font-size: 16px;
      @include md() {
        font-size: 15px;
      }
    }
  }
}
