.service {
  background-color: #edf2f7;
  &__txt {
    margin: 0 auto get_vw(40);
    @include sm() {
      margin-bottom: get_vw-sm(40);
    }
    @include md() {
      margin-bottom: 40px;
    }
  }
  &__list {
    margin: 0 auto;
    @include sm() {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__item {
    width: 100%;
    min-height: auto;
    margin-bottom: get_vw(20);
    padding: get_vw(20);
    border-radius: get_vw(8);
    box-shadow: 0 get_vw(4) get_vw(8) rgba(33,35,37,.12);
    background-color: #fff;
    @include sm() {
      width: calc((100% - 64px) / 2);
      margin-bottom: get_vw-sm(20);
      padding: get_vw-sm(20);
      border-radius: get_vw-sm(8);
      box-shadow: 0 get_vw-sm(4) get_vw-sm(8) rgba(33,35,37,.12);
    }
    @include md() {
      width: calc((100% - 64px) / 3);
      min-height: 353px;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(33,35,37,.12);
    }
  }
  &__img {
    display: block;
    width: 35%;
    max-width: 160px;
    margin: 0 auto;
    border-radius: get_vw(80);
    box-shadow: 0 get_vw(2) get_vw(4) get_vw(-1) rgba(0,0,0,0.2);
    @include sm() {
      border-radius: get_vw-sm(80);
      box-shadow: 0 get_vw-sm(2) get_vw-sm(4) get_vw-sm(-1) rgba(0,0,0,0.2);
    }
    @include md() {
      border-radius: 80px;
      box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2);
    }
  }
  &__explanation {
    margin-top: get_vw(20);
    @include sm() {
      margin-top: get_vw-sm(20);
    }
    @include md() {
      margin-top: 20px;
    }
    &-title {
      text-align: center;
      font-size: get_vw(20);
      @include sm() {
        font-size: get_vw-sm(20);
      }
      @include md() {
        font-size: 20px;
      }
    }
    &-txt {
      margin-top: 10px;
      font-size: get_vw(16);
      @include sm() {
        font-size: get_vw-sm(16);
      }
      @include md() {
        font-size: 15px;
      }
    }
  }
}
