{
  "singleQuote": true,
  "trailingComma": "none",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "doctype": "<!DOCTYPE html>"
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    }
  ]
}
