@use '../utils/function';
@use '../utils/mixin';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 180px;
  padding: 0.667em 30px 0.556em;
  font-size: function.fluid-clamp(18, 20);
  font-weight: 600;
  color: var(--white);
  letter-spacing: unset;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgb(20 19 19 / 50%);
  transition: all 0.3s;

  @include mixin.hover {
    transform: scale(1.1);
  }

  &--accent {
    color: var(--primary);
    background-color: var(--white);
  }

  &--submit {
    background-color: #6d8ea2;
  }

  &--back {
    color: unset;
    background-color: #dfe2e7;
  }
}
