@use '../utils/function';
@use '../utils/mixin';

.company {
  display: grid;

  @include mixin.smartphone-screen {
    gap: 30px;
  }

  @include mixin.tablet-screen {
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    align-items: start;
  }
}

.company__summary {
  display: grid;

  @include mixin.smartphone-screen {
    gap: 15px;
  }

  @include mixin.tablet-screen {
    gap: 20px;
  }
}

.company__name {
  font-size: function.fluid-clamp(18, 22);
}

.company__info {
  display: grid;

  @include mixin.smartphone-screen {
    gap: 15px;
  }

  @include mixin.tablet-screen {
    gap: 20px;
  }
}

.company__address {
  display: grid;
}

.company__contact {
  display: flex;
  gap: 0.5em;
}

.company__map {
  width: 100%;

  @include mixin.tablet-screen {
    height: 300px;
  }
}
