@use '../utils/function';
@use '../utils/mixin';

.contact__phone {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em;
  place-content: center;
  align-items: center;

  &::before {
    display: inline-block;
    aspect-ratio: 1;
    content: '';
    background-image: url('/assets/images/icon_phone-solid-full.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @include mixin.smartphone-screen {
      width: 40px;
    }

    @include mixin.tablet-screen {
      width: 50px;
    }
  }
}

.contact__num {
  font-size: function.fluid-clamp(34, 50);
}

.contact__btn {
  display: grid;
  place-content: center;

  @include mixin.smartphone-screen {
    margin-top: 20px;
  }

  @include mixin.tablet-screen {
    margin-top: 40px;
  }
}
