@use '../utils/function';
@use '../utils/mixin';

.expertDesc {
  display: grid;
  place-content: center;
}

.expertDesc__contets {
  display: grid;

  @include mixin.smartphone-screen {
    gap: 30px;
  }

  @include mixin.tablet-screen {
    grid-template-columns: auto 1fr;
    gap: 45px;
    align-items: start;
  }
}

.expertDesc__feature {
  display: grid;
  place-content: center;

  @include mixin.tablet-screen {
    width: 230px;
  }

  @include mixin.desktop-screen {
    width: auto;
  }

  img {
    aspect-ratio: 434 / 446;
  }
}

.expertDesc__points {
  display: grid;

  @include mixin.smartphone-screen {
    gap: 20px;
  }

  @include mixin.tablet-screen {
    gap: 30px;
  }
}

.expertDesc__point {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em;
  place-items: center start;
  justify-content: start;

  &::before {
    display: inline-block;
    width: 30px;
    aspect-ratio: 1;
    content: '';
    background-image: url('/assets/images/icon_circle-check-solid-full.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
