@use '../utils/function';
@use '../utils/mixin';

.expert {
  display: grid;

  @include mixin.smartphone-screen {
    gap: function.vw(60);
  }

  @include mixin.tablet-screen {
    gap: 80px;
  }
}

.expert__content {
  display: grid;

  @include mixin.smartphone-screen {
    gap: function.vw(15);
  }

  @include mixin.tablet-screen {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
