@use '../utils/function';
@use '../utils/mixin';

.footer {
  margin-top: auto;
  color: var(--white);
  background: #232b33;

  @include mixin.smartphone-screen {
    padding: 15px 0;
  }

  @include mixin.tablet-screen {
    padding: 20px 0;
  }
}

.footer__inner {
  display: grid;
  place-items: center;

  @include mixin.smartphone-screen {
    padding: 0 15px;
  }

  @include mixin.tablet-screen {
    padding: 0 20px;
  }
}
