@use '../utils/function';
@use '../utils/mixin';

.heading {
  display: grid;
  place-content: center;
  font-size: function.fluid-clamp(24, 32);
  font-weight: 600;
  line-height: 1.4;
  color: var(--primary);

  @include mixin.smartphone-screen {
    margin-bottom: 30px;
  }

  @include mixin.tablet-screen {
    margin-bottom: 40px;
  }
}
