@use '../utils/function';
@use '../utils/mixin';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 3px 25px rgb(77 77 99 / 10%);

  @include mixin.smartphone-screen {
    padding: 15px 0;
  }

  @include mixin.tablet-screen {
    padding: 20px 0;
  }
}
