@use '../utils/function';
@use '../utils/mixin';

.hero {
  display: grid;

  @include mixin.smartphone-screen {
    gap: 30px;
  }

  @include mixin.tablet-screen {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

.hero__heading {
  display: grid;
  font-size: function.fluid-clamp(24, 32);
  font-weight: 700;
  line-height: 1.4;
  color: #eee;
  letter-spacing: 0.05em;

  @include mixin.tablet-screen {
    grid-area: 1 / 1 / 2 / 2;
    place-content: end;
    justify-content: start;
  }
}

.hero__lead {
  color: #eee;

  @include mixin.tablet-screen {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.hero__img {
  display: grid;
  place-content: center;

  @include mixin.tablet-screen {
    grid-area: 1 / 2 / 3 / 3;
  }

  img {
    aspect-ratio: 700 / 500;
  }
}

.hero__btn {
  display: grid;
  place-content: center;

  @include mixin.tablet-screen {
    grid-area: 3 / 1 / 4 / 3;
  }
}
