@use '../utils/function';
@use '../utils/mixin';

.lead {
  display: grid;
  gap: 1em;
  place-content: center;

  @include mixin.smartphone-screen {
    margin-bottom: 30px;
  }

  @include mixin.tablet-screen {
    margin-bottom: 40px;
  }
}
