@use '../utils/mixin';

.lineBreakSm {
  @include mixin.smartphone-screen {
    display: block;
  }

  @include mixin.tablet-screen {
    display: none;
  }
}

.lineBreakTb {
  @include mixin.smartphone-screen {
    display: none;
  }

  @include mixin.tablet-screen {
    display: block;
  }
}
