@use '../utils/function';
@use '../utils/mixin';

.logo {
  font-weight: 700;

  @include mixin.smartphone-screen {
    font-size: function.rem(18);
  }

  @include mixin.tablet-screen {
    font-size: function.rem(22);
  }
}
