@use '../utils/function';
@use '../utils/mixin';

.mail__item {
  margin-bottom: 40px;
}

.mail__itemName {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.mail__label {
  font-weight: 600;
}

.mail__required {
  padding: 2px 15px;
  font-size: function.fluid-clamp(12, 14);
  color: #fff;
  background-color: #f63a52;
  border-radius: 30px;
}

.mail__input,
.mail__txtarea {
  width: 100%;
  font-family: unset;
  font-size: unset;
  line-height: unset;
  letter-spacing: unset;
  background-color: var(--white);
  border: none;
  border-radius: 8px;
  box-shadow: 0 7px 16px 0 rgb(0 0 0 / 7%);

  @include mixin.smartphone-screen {
    padding: 10px 15px;
  }

  @include mixin.tablet-screen {
    padding: 15px;
  }

  &::placeholder {
    color: #ccc;
    letter-spacing: 0.08em;
  }
}

.mail__txtarea {
  min-height: 260px;
}

.mail__btns {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.mail__errorList {
  margin-bottom: 40px;
}

.mail__errorItem {
  color: #f63a52;
}
