@use '../utils/functions';
@use '../utils/mixins';

.pageTop {
  position: fixed;
  right: 15px;
  bottom: 30px;
  display: grid;
  place-content: center;
  width: 50px;
  aspect-ratio: 1;
  background-color: #7db4e6;
  border-radius: 50%;
  opacity: 0;

  &.isShow {
    opacity: 1;
  }

  &:hover {
    opacity: 0.8;
  }

  &::before {
    width: 24px;
    aspect-ratio: 1;
    content: '';
    background-image: url('/assets/images/icon_chevron-up-solid-full.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
