@use '../utils/function';
@use '../utils/mixin';

.service {
  display: grid;
  gap: 20px;

  @include mixin.smartphone-screen {
    grid-template-columns: repeat(1, 1fr);
  }

  @include mixin.tablet-screen {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixin.laptop-screen {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service__item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  justify-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(33 35 37 / 12%);

  @include mixin.smartphone-screen {
    gap: 20px;
    padding: 30px;
  }

  @include mixin.tablet-screen {
    gap: 30px;
    padding: 40px 30px;
  }
}

.service__feature {
  width: min(160px, 35%);
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%);
}

.service__cardHeading {
  font-size: function.rem(18);
  font-weight: 700;
}
