@use '../utils/function';
@use '../utils/mixin';

.solution {
  display: grid;

  @include mixin.smartphone-screen {
    gap: 30px;
  }

  @include mixin.tablet-screen {
    gap: 40px;
  }
}

.solution__btn {
  display: grid;
  place-content: center;

  @include mixin.smartphone-screen {
    margin-top: 30px;
  }

  @include mixin.tablet-screen {
    margin-top: 40px;
  }
}
