@use '../utils/function';
@use '../utils/mixin';

.tab {
  display: grid;

  @include mixin.smartphone-screen {
    gap: 60px;
  }

  @include mixin.tablet-screen {
    gap: 80px;
  }
}

.tab__nav {
  display: grid;
  gap: 1px;

  @include mixin.smartphone-screen {
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 function.vw(7) function.vw(16) 0 rgb(0 0 0 / 7%);
  }

  @include mixin.tablet-screen {
    grid-template-columns: repeat(6, 1fr);
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 7%);
  }
}

.tab__btn {
  display: grid;
  color: #666;
  text-align: center;
  cursor: pointer;
  background-color: var(--white);

  @include mixin.smartphone-screen {
    padding: 10px 1em;
  }

  @include mixin.tablet-screen {
    padding: 12px 1em;
  }

  &.isActive {
    color: #fff;
    background-color: var(--primary);
  }
}

.tab__panel {
  display: none;

  &.isActive {
    display: block;
    animation: fade 0.5s ease;
  }
}
