@use '../utils/function';
@use '../utils/mixin';

.voice {
  display: grid;
  place-content: center;

  @include mixin.smartphone-screen {
    gap: 20px;
  }

  @include mixin.tablet-screen {
    gap: 20px;
  }

  @include mixin.laptop-screen {
    gap: 45px;
  }
}

.voice__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 20px;
  font-weight: 700;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 7px 16px 0 rgb(0 0 0 / 7%);

  @include mixin.smartphone-screen {
    padding: 20px;
  }

  @include mixin.tablet-screen {
    padding: 20px 30px;
  }

  @include mixin.laptop-screen {
    align-items: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.voice__avatar {
  position: relative;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;

  .voice__item:nth-child(1) & {
    background-color: #63e6be;
  }

  .voice__item:nth-child(2) & {
    background-color: #74c0fc;
  }

  .voice__item:nth-child(3) & {
    background-color: #ffd43b;
  }

  .voice__item:nth-child(4) & {
    background-color: #b197fc;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 30px;
    aspect-ratio: 1;
    content: '';
    background-image: url('/assets/images/icon_user-tie-solid-full.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
  }
}
