@use '../../mixin/breakpoint';
@use '../../mixin/conversion';

.company__concept {
  margin-bottom: conversion.vw(40);

  @include breakpoint.sm {
    margin-bottom: conversion.vw-sm(40);
  }

  @include breakpoint.md {
    margin-bottom: 40px;
  }
}

.company__content {
  @include breakpoint.md {
    display: flex;
    align-items: center;
  }
}

.company__summary {
  margin-bottom: conversion.vw(40);

  @include breakpoint.sm {
    margin-bottom: conversion.vw-sm(40);
  }

  @include breakpoint.md {
    width: 50%;
    margin-bottom: 0;
  }
}

.company__name {
  margin-bottom: conversion.vw(20);
  font-size: conversion.vw(22);

  @include breakpoint.sm {
    margin-bottom: conversion.vw-sm(20);
    font-size: conversion.vw-sm(22);
  }

  @include breakpoint.md {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.company__address {
  margin-bottom: conversion.vw(20);

  @include breakpoint.sm {
    margin-bottom: conversion.vw-sm(20);
  }

  @include breakpoint.md {
    margin-bottom: 20px;
  }
}

.company__map {
  width: 100%;

  @include breakpoint.md {
    width: 50%;
  }
}

.company__google {
  display: block;
  width: 100%;

  @include breakpoint.md {
    height: 300px;
  }
}
