@use '../../mixin/breakpoint';
@use '../../mixin/btn';
@use '../../mixin/conversion';

.contact {
  background-color: #edf2f7;

  &__txt {
    margin: 0 auto conversion.get_vw(40);

    @include breakpoint.sm() {
      margin: 0 auto conversion.get_vw-sm(40);
    }

    @include breakpoint.md() {
      margin: 0 auto 40px;
    }
  }

  &__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: conversion.get_vw(20);

    @include breakpoint.sm() {
      margin-bottom: conversion.get_vw-sm(20);
    }

    @include breakpoint.md() {
      margin-bottom: 20px;
    }
  }

  &__icon {
    color: #333;
  }

  &__num {
    margin-left: conversion.get_vw(20);
    font-family: 'Fjalla One', sans-serif;
    font-size: conversion.get_vw(50);

    @include breakpoint.sm() {
      margin-left: conversion.get_vw-sm(20);
      font-size: conversion.get_vw-sm(50);
    }

    @include breakpoint.md() {
      margin-left: 20px;
      font-size: 50px;
    }
  }

  &__btn {
    @include btn.btn('contact');
  }
}
