@use '../../mixin/breakpoint';
@use '../../mixin/btn';
@use '../../mixin/conversion';

.contact {
  background-color: #edf2f7;
}

.contact__txt {
  margin: 0 auto conversion.vw(40);

  @include breakpoint.sm {
    margin: 0 auto conversion.vw-sm(40);
  }

  @include breakpoint.md {
    margin: 0 auto 40px;
  }
}

.contact__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: conversion.vw(20);

  @include breakpoint.sm {
    margin-bottom: conversion.vw-sm(20);
  }

  @include breakpoint.md {
    margin-bottom: 20px;
  }
}

.contact__icon {
  color: #333;
}

.contact__num {
  margin-left: conversion.vw(20);
  font-family: 'Fjalla One', sans-serif;
  font-size: conversion.vw(50);

  @include breakpoint.sm {
    margin-left: conversion.vw-sm(20);
    font-size: conversion.vw-sm(50);
  }

  @include breakpoint.md {
    margin-left: 20px;
    font-size: 50px;
  }
}

.contact__btn {
  @include btn.btn('contact');
}
