@use '../../mixin/breakpoint';
@use '../../mixin/btn';
@use '../../mixin/colors';
@use '../../mixin/conversion';

.mv {
  background: linear-gradient(135deg, colors.$main, #5067c5);

  @include breakpoint.md {
    border-radius: 0 0 50% 50% / 0 0 8% 8%;
  }
}

.mv__inner {
  @include breakpoint.md {
    flex-direction: row;
    align-items: center;
  }
}

.mv__box {
  display: flex;
  flex-direction: column;

  @include breakpoint.md {
    width: 50%;
  }
}

.mv__title {
  color: #eee;

  @include breakpoint.md {
    margin: 0 0 40px;
  }
}

.mv__txt {
  margin: 0 auto conversion.vw(40);
  color: #eee;

  @include breakpoint.sm {
    margin-bottom: conversion.vw-sm(40);
  }

  @include breakpoint.md {
    margin-bottom: 40px;
  }
}

.mv__btn-pc {
  display: none;

  @include breakpoint.md {
    @include btn.btn('contact');
  }
}

.mv__btn-sp {
  background-color: #22bc92;

  @include btn.btn('contact');

  @include breakpoint.md {
    display: none;
  }
}

.mv__img {
  display: block;
  width: 100%;
}
