@use '../../mixin/breakpoint';
@use '../../mixin/conversion';

.service__list {
  margin: 0 auto;

  @include breakpoint.smartphone-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.service__item {
  width: 100%;
  min-height: auto;
  padding: conversion.vw(20);
  margin-bottom: conversion.vw(20);
  background-color: #fff;
  border-radius: conversion.vw(8);
  box-shadow: 0 conversion.vw(4) conversion.vw(8) rgb(33 35 37 / 12%);

  @include breakpoint.smartphone-screen {
    width: calc((100% - 64px) / 2);
    padding: conversion.vw-sm(20);
    margin-bottom: conversion.vw-sm(20);
    border-radius: conversion.vw-sm(8);
    box-shadow: 0 conversion.vw-sm(4) conversion.vw-sm(8) rgb(33 35 37 / 12%);
  }

  @include breakpoint.tablet-screen {
    width: calc((100% - 64px) / 3);
    min-height: 353px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(33 35 37 / 12%);
  }
}

.service__img {
  display: block;
  width: 35%;
  max-width: 160px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 conversion.vw(2) conversion.vw(4) conversion.vw(-1)
    rgb(0 0 0 / 20%);

  @include breakpoint.smartphone-screen {
    box-shadow: 0 conversion.vw-sm(2) conversion.vw-sm(4) conversion.vw-sm(-1)
      rgb(0 0 0 / 20%);
  }

  @include breakpoint.tablet-screen {
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%);
  }
}

.service__explanation {
  margin-top: conversion.vw(20);

  @include breakpoint.smartphone-screen {
    margin-top: conversion.vw-sm(20);
  }

  @include breakpoint.tablet-screen {
    margin-top: 20px;
  }
}

.service__explanationTitle {
  font-size: conversion.vw(20);
  text-align: center;

  @include breakpoint.smartphone-screen {
    font-size: conversion.vw-sm(20);
  }

  @include breakpoint.tablet-screen {
    font-size: 20px;
  }
}

.service__explanationTxt {
  margin-top: 10px;
  font-size: conversion.vw(18);

  @include breakpoint.smartphone-screen {
    font-size: conversion.vw-sm(16);
  }

  @include breakpoint.tablet-screen {
    font-size: 16px;
  }
}
