.mail {
  &__description {
    margin: 0 auto get_vw(40);
    @include sm() {
      margin: 0 auto get_vw-sm(40);
    }
    @include md() {
      margin: 0 auto 40px;
    }
  }
  &__step-bar {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto get_vw(40);
    text-align: center;
    @include sm() {
      margin: 0 auto get_vw-sm(40);
    }
    @include md() {
      margin: 0 auto 40px;
    }
  }
  &__step-item {
    position: relative;
    width: 33.333%;
    font-size: get_vw(12);
    list-style: none;
    @include sm() {
      font-size: get_vw-sm(12);
    }
    &:after {
      content: "";
      position: absolute;
      top: get_vw(10);
      left: calc(-50% + 3.75vw);
      width: calc(100% - 7.5vw);
      height: get_vw(4);
      background: #d6e7f7;
      @include sm() {
        top: get_vw-sm(10);
        height: get_vw-sm(4);
      }
    }
    &:first-child:after {
      display: none;
    }
  }
  &__num {
    display: inline-block;
    width: get_vw(24);
    height: get_vw(24);
    margin-bottom: get_vw(5);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    line-height: get_vw(24);
    color: #fff;
    background: #d6e7f7;
    @include sm() {
      width: get_vw-sm(24);
      height: get_vw-sm(24);
      margin-bottom: get_vw-sm(5);
      line-height: get_vw-sm(24);
    }
  }
  &__visited:after {
    background: #329eff;
  }
  &__visited span {
    background: #329eff;
  }
  &__item {
    margin-bottom: get_vw(40);
    @include sm() {
      margin-bottom: get_vw-sm(40);
    }
    @include md() {
      margin-bottom: 40px;
    }
    &-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: get_vw(20);
      @include sm() {
        margin-bottom: get_vw-sm(20);
      }
      @include md() {
        margin-bottom: 20px;
      }
    }
  }
  &__label {
    display: block;
    font-weight: 600;
  }
  &__required {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: get_vw(10);
    padding: 0 get_vw(9);
    border-radius: get_vw(30);
    font-size: get_vw(12);
    color: #fff;
    background-color: #f63a52;
    @include sm() {
      margin-left: get_vw-sm(10);
      padding: 0 get_vw-sm(9);
      border-radius: get_vw-sm(30);
      font-size: get_vw-sm(12);
    }
    @include md() {
      margin-left: 10px;
      font-size: 12px;
    }
  }
  &__input {
    width: 100%;
    height: get_vw(50);
    padding: 0 get_vw(17);
    outline: none;
    background-color: #edf2f7;
    @include sm() {
      height: get_vw-sm(50);
      padding: 0 get_vw-sm(17);
    }
    @include md() {
      height: 50px;
      padding: 0 17px;
    }
  }
  &__txtarea {
    width: 100%;
    height: get_vw(260);
    padding: get_vw(17);
    outline: none;
    background-color: #edf2f7;
    @include sm() {
      height: get_vw-sm(260);
      padding: get_vw-sm(17);
    }
    @include md() {
      height: 260px;
      padding: 17px;
    }
  }
  &__btn {
    @include _btn('normal');
    background-color: #329eff;
  }
}
