@use '../mixin/breakpoint';

body {
  box-sizing: border-box;
  font-family: dnp-shuei-mgothic-std, sans-serif;
  font-style: normal;
  font-size: get_vw(20);
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.1em;
  color: #333;

  @include breakpoint.sm() {
    font-size: get_vw-sm(18);
  }

  @include breakpoint.md() {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style: none;
}

address {
  font-style: normal;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='search']:focus,
input[type='url']:focus,
textarea:focus {
  outline: none;
}
