@use '../../../mixin/breakpoint';
@use '../../../mixin/btn';
@use '../../../mixin/colors';
@use '../../../mixin/conversion';

.mail__description {
  margin: 0 auto conversion.vw(40);

  @include breakpoint.smartphone-screen {
    margin: 0 auto conversion.vw-sm(40);
  }

  @include breakpoint.tablet-screen {
    margin: 0 auto 40px;
  }
}

.mail__stepBar {
  display: flex;
  justify-content: center;
  margin-bottom: conversion.vw(40);
  text-align: center;

  @include breakpoint.smartphone-screen {
    margin-bottom: conversion.vw-sm(40);
  }

  @include breakpoint.tablet-screen {
    margin-bottom: 40px;
  }
}

.mail__stepItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: conversion.vw(220);
  padding: conversion.vw(12) conversion.vw(8);
  margin-right: conversion.vw(18);
  font-size: conversion.vw(15);
  color: #666;
  background-color: #edf2f7;

  @include breakpoint.smartphone-screen {
    width: conversion.vw-sm(220);
    padding: conversion.vw(12) conversion.vw-sm(8);
    margin-right: conversion.vw-sm(18);
    font-size: conversion.vw-sm(15);
  }

  @include breakpoint.tablet-screen {
    width: 220px;
    padding: 12px 8px;
    margin-right: 18px;
    font-size: 15px;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top: -8px;
    content: '';
    border: 8px solid transparent;
    border-left: 8px solid #edf2f7;
  }
}

.mail__stepCompletion {
  margin-right: 0;

  &::before {
    content: none;
  }
}

.mail__visited {
  color: #fff;
  background-color: colors.$main;

  &::before {
    border-left-color: colors.$main;
  }
}

.mail__item {
  margin-bottom: conversion.vw(40);

  @include breakpoint.smartphone-screen {
    margin-bottom: conversion.vw-sm(40);
  }

  @include breakpoint.tablet-screen {
    margin-bottom: 40px;
  }
}

.mail__itemName {
  display: flex;
  align-items: center;
  margin-bottom: conversion.vw(20);

  @include breakpoint.smartphone-screen {
    margin-bottom: conversion.vw-sm(20);
  }

  @include breakpoint.tablet-screen {
    margin-bottom: 20px;
  }
}

.mail__label {
  display: block;
  font-weight: 600;
}

.mail__required {
  height: conversion.vw(30);
  padding: 0 conversion.vw(9);
  margin-left: conversion.vw(10);
  font-size: conversion.vw(12);
  line-height: conversion.vw(30);
  color: #fff;
  background-color: #f63a52;
  border-radius: conversion.vw(30);

  @include breakpoint.smartphone-screen {
    height: conversion.vw-sm(30);
    padding: 0 conversion.vw-sm(9);
    margin-left: conversion.vw-sm(10);
    font-size: conversion.vw-sm(12);
    line-height: conversion.vw-sm(30);
    border-radius: conversion.vw-sm(30);
  }

  @include breakpoint.tablet-screen {
    height: 30px;
    padding: 0 9px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 30px;
  }
}

.mail__input {
  width: 100%;
  height: conversion.vw(50);
  padding: 0 conversion.vw(17);
  background-color: #edf2f7;
  border-radius: conversion.vw(8);

  @include breakpoint.smartphone-screen {
    height: conversion.vw-sm(50);
    padding: 0 conversion.vw-sm(17);
    border-radius: conversion.vw-sm(8);
  }

  @include breakpoint.tablet-screen {
    height: 50px;
    padding: 0 17px;
    border-radius: 8px;
  }

  &::placeholder {
    color: #ccc;
    letter-spacing: 0.08em;
  }
}

.mail__txtarea {
  width: 100%;
  height: conversion.vw(260);
  padding: conversion.vw(17);
  resize: none;
  background-color: #edf2f7;
  border-radius: conversion.vw(8);

  @include breakpoint.smartphone-screen {
    height: conversion.vw-sm(260);
    padding: conversion.vw-sm(17);
    border-radius: conversion.vw-sm(8);
  }

  @include breakpoint.tablet-screen {
    height: 260px;
    padding: 17px;
    border-radius: 8px;
  }

  &::placeholder {
    color: #ccc;
    letter-spacing: 0.08em;
  }
}

.mail__btns {
  display: flex;
  flex-direction: column-reverse;

  @include breakpoint.smartphone-screen {
    flex-direction: row;
  }
}

.mail__btn {
  @include btn.btn('normal');
}

.mail__btn--back {
  @include btn.btn('back');
}

.mail__errorList {
  margin: 0 auto conversion.vw(40);

  @include breakpoint.smartphone-screen {
    margin-bottom: conversion.vw-sm(40);
  }

  @include breakpoint.tablet-screen {
    margin-bottom: 40px;
  }
}

.mail__errorItem {
  color: #f63a52;
}
