@use '../mixin/breakpoint';
@use '../mixin/colors';
@use '../mixin/conversion';

$initType: 'normal';

@mixin btn($type: $initType) {
  display: block;
  min-width: conversion.get_vw(180);
  margin: 0 auto;
  padding: conversion.get_vw(12) conversion.get_vw(40);
  border-radius: conversion.get_vw(30);
  box-shadow: 0 conversion.get_vw(2) conversion.get_vw(8) rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;

  @if ($type == 'normal') {
    background-color: colors.$btn__normal;

    &:hover {
      background-color: colors.$btn__normal--hover;
    }
  }

  @if ($type == 'header') {
    & {
      display: inline-block;
      padding: conversion.get_vw(8) conversion.get_vw(40);
      font-size: conversion.get_vw(22);
      box-shadow: initial;
      background-color: colors.$accent;
    }

    @include breakpoint.sm() {
      padding: conversion.get_vw-sm(8) conversion.get_vw-sm(40);
      font-size: conversion.get_vw-sm(14);
    }

    @include breakpoint.md() {
      padding: 8px 40px;
      font-size: 16px;
    }

    &:hover {
      background-color: colors.$accent--hover;
    }
  }

  @if ($type == 'contact') {
    background-color: colors.$accent;

    &:hover {
      background-color: colors.$accent--hover;
    }
  }

  @if ($type == 'back') {
    margin: conversion.get_vw(40) auto 0;
    color: colors.$txt;
    background-color: colors.$btn--back;

    @include breakpoint.sm() {
      margin-top: 0;
      margin-right: conversion.get_vw-sm(40);
    }

    @include breakpoint.md() {
      margin: 0 auto;
    }

    &:hover {
      background-color: colors.$btn__back--hover;
      color: #fff;
    }
  }

  @include breakpoint.sm() {
    min-width: conversion.get_vw-sm(180);
    padding: conversion.get_vw-sm(12) conversion.get_vw-sm(40);
    border-radius: conversion.get_vw-sm(30);
    box-shadow: 0 conversion.get_vw-sm(2) conversion.get_vw-sm(8)
      rgba(0, 0, 0, 0.5);
  }

  @include breakpoint.md() {
    min-width: 180px;
    padding: 12px 40px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(20, 19, 19, 0.5);
  }
}
