@function get_vw($size, $viewport: 480) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@function get_vw-sm($size, $viewport: 768) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}
