@use '../../../mixin/breakpoint';
@use '../../../mixin/colors';
@use '../../../mixin/conversion';

.expert {
  background-color: colors.$bgc;
}

.expert__tabList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: conversion.vw(80);
  box-shadow: 0 conversion.vw(7) conversion.vw(16) 0 rgb(0 0 0 / 7%);

  @include breakpoint.smartphone-screen {
    margin-bottom: conversion.vw-sm(80);
    box-shadow: 0 conversion.vw-sm(7) conversion.vw-sm(16) 0 rgb(0 0 0 / 7%);
  }

  @include breakpoint.tablet-screen {
    flex-wrap: nowrap;
    margin-bottom: 80px;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 7%);
  }
}

.expert__tabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: conversion.vw(12) conversion.vw(8);
  font-size: conversion.vw(15);
  color: #666;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-bottom: solid conversion.vw(1) colors.$bgc;

  @include breakpoint.smartphone-screen {
    padding: conversion.vw-sm(12) conversion.vw-sm(8);
    font-size: conversion.vw-sm(15);
    border-bottom: solid conversion.vw-sm(1) colors.$bgc;
  }

  @include breakpoint.tablet-screen {
    width: 100%;
    padding: 12px 8px;
    font-size: 15px;
    border-bottom: none;
  }

  &:not(:last-child) {
    border-right: solid conversion.vw(1) colors.$bgc;

    @include breakpoint.smartphone-screen {
      border-right: solid conversion.vw-sm(1) colors.$bgc;
    }

    @include breakpoint.tablet-screen {
      border-right: solid 1px colors.$bgc;
    }
  }

  &:nth-child(5),
  &:nth-child(6) {
    border-bottom: none;
  }

  &.isActive {
    color: #fff;
    background-color: colors.$main;
  }
}

.expert__tabTarget {
  display: none;

  &.isActive {
    display: block;
    animation: fade 0.5s ease;
  }
}

.expert__info {
  margin-bottom: conversion.vw(80);

  @include breakpoint.smartphone-screen {
    margin-bottom: conversion.vw-sm(80);
  }

  @include breakpoint.tablet-screen {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.expert__box {
  width: 100%;

  @include breakpoint.tablet-screen {
    width: 50%;
  }
}

.expert__img {
  display: block;
  width: 100%;
}

.expert__summary {
  padding: conversion.vw(20);

  @include breakpoint.smartphone-screen {
    padding: conversion.vw-sm(20);
  }

  @include breakpoint.tablet-screen {
    padding: 20px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
