@use '../mixin/breakpoint';

.footer {
  margin-top: auto;
  padding: get_vw(20) 0;
  background: #232b33;
  color: rgba(255, 255, 255, 0.4);

  @include breakpoint.sm() {
    padding: get_vw-sm(20) 0;
  }

  @include breakpoint.md() {
    padding: 20px 0;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 get_vw(20);

    @include breakpoint.sm() {
      padding: 0 get_vw-sm(20);
    }

    @include breakpoint.md() {
      padding: 20px 0;
    }
  }
}
