body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", "NotoSansJP";
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: get_vw(17);
  line-height: 1.8;
  letter-spacing: .1em;
  color: #333;
  @include sm() {
    font-size: get_vw-sm(18);
  }
  @include md() {
    font-size: 19px;
  }
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=url]:focus,
textarea:focus {
  outline: none;
}

.br-sm {
  display: none;
  @include sm() {
    display: block;
  }
}
.br-md {
  display: none;
  @include md() {
    display: block;
  }
}
.br-lg {
  display: none;
  @include lg() {
    display: block;
  }
}

.txt {
  &-blue {
    color: #6b90db;
  }
  &-bold {
    font-weight: 600;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.section {
  padding: get_vw(50) 0;
  @include sm() {
    padding: get_vw-sm(50) 0;
  }
  @include md() {
    padding: 80px 0;
  }
  &__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 get_vw(20);
    @include sm() {
      padding: 0 get_vw-sm(20);
    }
    @include md() {
      padding: 0 20px;
    }
  }
  &__title {
    margin: 0 auto get_vw(40);
    font-size: get_vw(32);
    font-weight: 600;
    line-height: 1.5;
    color: $main;
    @include sm() {
      margin: 0 auto get_vw-sm(40);
      font-size: get_vw-sm(32);
    }
    @include md() {
      margin: 0 auto 40px;
      font-size: 32px;
    }
  }
}
