.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-shadow: 0 get_vw(3) get_vw(25) rgba(77,77,99,0.1);
  @include sm() {
    box-shadow: 0 get_vw-sm(3) get_vw-sm(25) rgba(77,77,99,0.1);
  }
  @include md() {
    box-shadow: 0 3px 25px rgba(77,77,99,0.1);
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: get_vw(64);
    padding: 0 get_vw(20);
    @include sm() {
      height: get_vw-sm(64);
      padding: 0 get_vw-sm(20);
    }
    @include md() {
      height: 64px;
      padding: 0 20px;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: get_vw(22);
    font-weight: 600;
    color: #333;
    @include sm() {
      font-size: get_vw-sm(22);
    }
    @include md() {
      font-size: 22px;
    }
  }
  &__nav {
    display: none;
    @include sm() {
      display: flex;
      align-items: center;
    }
    &-item:not(:last-child) {
      font-weight: 600;
      @include sm() {
        margin-right: get_vw-sm(20);
        font-size: get_vw-sm(17);
      }
      @include md() {
        margin-right: 20px;
        font-size: 17px;
      }
    }
  }
  &__sp {
    &-nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      padding-top: get_vw(64);
      background-color: $main;
      transition: all .6s;
      z-index: 200;
      // overflow-y: auto;
    }
    &-item {
      padding: get_vw(20);
      text-align: center;
    }
    &-link {
      display: block;
      color: #fff;
    }
  }
  &__burger {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: get_vw(64);
    height: get_vw(64);
    cursor: pointer;
    z-index: 300;
    @include sm() {
      display: none;
    }
    &-inner {
      width: get_vw(40);
      height: get_vw(30);
      position: relative;
    }
    &-line {
      position: absolute;
      display: block;
      width: get_vw(40);
      height: get_vw(5);
      background: #636363;
      transition: 1.5s;
      border-radius: get_vw(50);
      &--1 {
        top: 0;
      }
      &--2 {
        top: get_vw(13);
      }
      &--3 {
        top: get_vw(26);
      }
    }
  }
  &__btn {
    @include _btn('header');
  }
}

.nav-open {
  & .header__sp-nav {
    right: 0;
  }
  & .header__burger-line {
    background: #fff;
    &--1 {
      transform: rotate(225deg);
      top: get_vw(13);
    }
    &--2 {
      opacity: 0;
    }
    &--3 {
      transform: rotate(-225deg);
      top: get_vw(13);
    }
  }
}
