.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-shadow: 0 get_vw(3) get_vw(25) rgba(77,77,99,0.1);
  @include sm() {
    box-shadow: 0 get_vw-sm(3) get_vw-sm(25) rgba(77,77,99,0.1);
  }
  @include md() {
    box-shadow: 0 3px 25px rgba(77,77,99,0.1);
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: get_vw(20);
    @include sm() {
      padding: get_vw-sm(20);
    }
    @include md() {
      padding: 20px;
    }
  }
  &__logo {
    font-size: get_vw(22);
    font-weight: 600;
    @include sm() {
      font-size: get_vw-sm(22);
    }
    @include md() {
      font-size: 22px;
    }
  }
  &__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding-top: get_vw(92);
    background-color: $bgc;
    transition: all .4s;
    z-index: 200;
    @include sm() {
      position: static;
      right: auto;
      top: auto;
      width: auto;
      height: auto;
      padding-top: initial;
      background-color: #fff;
    }
    &-list {
      @include sm() {
        display: flex;
        align-items: center;
      }
    }
    &-item {
      padding-bottom: get_vw(40);
      text-align: center;
      font-size: get_vw(22);
      font-weight: 600;
      @include sm() {
        padding-bottom: 0;
        font-size: get_vw-sm(18);
      }
      @include md() {
        padding-bottom: 0;
        font-size: 18px;
      }
      &:not(:last-child) {
        @include sm() {
          margin-right: get_vw-sm(20);
        }
        @include md() {
          margin-right: 20px;
        }
      }
    }
  }
  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 300;
    @include sm() {
      display: none;
    }
    &-inner {
      position: relative;
      width: get_vw(40);
      height: get_vw(30);
    }
    &-line {
      display: block;
      position: absolute;
      width: get_vw(40);
      height: get_vw(5);
      background: #636363;
      transition: .5s;
      border-radius: get_vw(50);
      &--1 {
        top: 0;
      }
      &--2 {
        top: get_vw(13);
      }
      &--3 {
        top: get_vw(26);
      }
    }
  }
  &__btn {
    @include _btn('header');
  }
}

.nav-open {
  & .header__nav {
    right: 0;
  }
  & .header__burger-line {
    &--1 {
      transform: rotate(225deg);
      top: get_vw(13);
    }
    &--2 {
      opacity: 0;
    }
    &--3 {
      transform: rotate(-225deg);
      top: get_vw(13);
    }
  }
}
