.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #fff;
  box-shadow: 0 get_vw(3) get_vw(25) rgba(77,77,99,0.1);
  @include sm() {
    box-shadow: 0 get_vw-sm(3) get_vw-sm(25) rgba(77,77,99,0.1);
  }
  @include md() {
    box-shadow: 0 3px 25px rgba(77,77,99,0.1);
  }
  &__inner {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    height: get_vw(64);
    margin: 0 auto;
    padding: 0 get_vw(20);
    @include sm() {
      height: get_vw-sm(64);
      padding: 0 get_vw-sm(20);
    }
    @include md() {
      height: 64px;
      padding: 0 20px;
    }
  }
  &__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: #333;
  }
  &__btn {
    @include _btn('header');
  }
}
