.mail__visited {
  background-color: $main;
  color: #fff;
  &:before {
    border-left-color: $main;
  }
}

.mail__item {
  margin-bottom: get_vw(40);
  @include sm() {
    margin-bottom: get_vw-sm(40);
  }
  @include md() {
    margin-bottom: 40px;
  }
}

.mail__item-name {
  display: flex;
  align-items: center;
  margin-bottom: get_vw(20);
  @include sm() {
    margin-bottom: get_vw-sm(20);
  }
  @include md() {
    margin-bottom: 20px;
  }
}

.mail__description {
  margin: 0 auto get_vw(40);
  @include sm() {
    margin: 0 auto get_vw-sm(40);
  }
  @include md() {
    margin: 0 auto 40px;
  }
}

.mail__step-completion {
  margin-right: 0;
  &:before {
    content: none;
  }
}

.mail__step-bar {
  display: flex;
  justify-content: center;
  margin-bottom: get_vw(40);
  text-align: center;
  @include sm() {
    margin-bottom: get_vw-sm(40);
  }
  @include md() {
    margin-bottom: 40px;
  }
}

.mail__step-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: get_vw(220);
  margin-right: get_vw(18);
  padding: get_vw(12) get_vw(8);
  font-size: get_vw(15);
  color: #666;
  background-color: #edf2f7;
  @include sm() {
    width: get_vw-sm(220);
    margin-right: get_vw-sm(18);
    padding: get_vw(12) get_vw-sm(8);
    font-size: get_vw-sm(15);
  }
  @include md() {
    width: 220px;
    margin-right: 18px;
    padding: 12px 8px;
    font-size: 15px;
  }
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 8px solid #edf2f7;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -8px;
  }
}

.mail__required {
  height: get_vw(30);
  margin-left: get_vw(10);
  padding: 0 get_vw(9);
  border-radius: get_vw(30);
  font-size: get_vw(12);
  line-height: get_vw(30);
  color: #fff;
  background-color: #f63a52;
  @include sm() {
    height: get_vw-sm(30);
    margin-left: get_vw-sm(10);
    padding: 0 get_vw-sm(9);
    border-radius: get_vw-sm(30);
    font-size: get_vw-sm(12);
    line-height: get_vw-sm(30);
  }
  @include md() {
    height: 30px;
    margin-left: 10px;
    padding: 0 9px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 30px;
  }
}

.mail__input {
  width: 100%;
  height: get_vw(50);
  padding: 0 get_vw(17);
  border-radius: get_vw(8);
  background-color: #edf2f7;
  @include sm() {
    height: get_vw-sm(50);
    padding: 0 get_vw-sm(17);
    border-radius: get_vw-sm(8);
  }
  @include md() {
    height: 50px;
    padding: 0 17px;
    border-radius: 8px;
  }
  &::placeholder {
    letter-spacing: .08em;
    color: #ccc;
  }
}

.mail__txtarea {
  width: 100%;
  height: get_vw(260);
  padding: get_vw(17);
  resize: none;
  border-radius: get_vw(8);
  background-color: #edf2f7;
  @include sm() {
    height: get_vw-sm(260);
    padding: get_vw-sm(17);
    border-radius: get_vw-sm(8);
  }
  @include md() {
    height: 260px;
    padding: 17px;
    border-radius: 8px;
  }
  &::placeholder {
    letter-spacing: .08em;
    color: #ccc;
  }
}

.mail__btns {
  display: flex;
  flex-direction: column-reverse;
  @include sm() {
    flex-direction: row;
  }
}

.mail__btn {
  @include _btn('normal');
  &--back {
    @include _btn('back');
  }
}

.mail__error-list {
  margin: 0 auto get_vw(40);
  @include sm() {
    margin-bottom: get_vw-sm(40);
  }
  @include md() {
    margin-bottom: 40px;
  }
}

.mail__error-item {
  color: #f63a52;
}
