@use '../mixin/breakpoint';

.br {
  display: block;

  @include breakpoint.sm {
    display: none;
  }
}

.br-sm {
  display: none;

  @include breakpoint.sm {
    display: block;
  }
}

.br-md {
  display: none;

  @include breakpoint.md {
    display: block;
  }
}

.br-lg {
  display: none;

  @include breakpoint.lg {
    display: block;
  }
}
