@use '../mixin/breakpoint';
@use '../mixin/colors';
@use '../mixin/conversion';

$initType: 'normal';

@mixin btn($type: $initType) {
  display: block;
  min-width: conversion.vw(180);
  padding: conversion.vw(12) conversion.vw(40);
  margin: 0 auto;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: conversion.vw(30);
  box-shadow: 0 conversion.vw(2) conversion.vw(8) rgb(0 0 0 / 50%);
  transition: all 0.3s;

  @if $type == 'normal' {
    background-color: colors.$btnNormal;

    &:hover {
      background-color: colors.$btnNormalHover;
    }
  }

  @if $type == 'header' {
    & {
      display: inline-block;
      padding: conversion.vw(8) conversion.vw(40);
      font-size: conversion.vw(22);
      background-color: colors.$accent;
      box-shadow: initial;
    }

    @include breakpoint.sm {
      padding: conversion.vw-sm(8) conversion.vw-sm(40);
      font-size: conversion.vw-sm(14);
    }

    @include breakpoint.md {
      padding: 8px 40px;
      font-size: 16px;
    }

    &:hover {
      background-color: colors.$accentHover;
    }
  }

  @if $type == 'contact' {
    background-color: colors.$accent;

    &:hover {
      background-color: colors.$accentHover;
    }
  }

  @if $type == 'back' {
    margin: conversion.vw(40) auto 0;
    color: colors.$txt;
    background-color: colors.$btnBack;

    @include breakpoint.sm {
      margin-top: 0;
      margin-right: conversion.vw-sm(40);
    }

    @include breakpoint.md {
      margin: 0 auto;
    }

    &:hover {
      color: #fff;
      background-color: colors.$btnBackHover;
    }
  }

  @include breakpoint.sm {
    min-width: conversion.vw-sm(180);
    padding: conversion.vw-sm(12) conversion.vw-sm(40);
    border-radius: conversion.vw-sm(30);
    box-shadow: 0 conversion.vw-sm(2) conversion.vw-sm(8) rgb(0 0 0 / 50%);
  }

  @include breakpoint.md {
    min-width: 180px;
    padding: 12px 40px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgb(20 19 19 / 50%);
  }
}
