@use '../mixin/breakpoint';
@use '../mixin/colors';
@use '../mixin/conversion';

.section {
  padding: conversion.vw(50) 0;

  @include breakpoint.sm {
    padding: conversion.vw-sm(50) 0;
  }

  @include breakpoint.md {
    padding: 80px 0;
  }
}

.section__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  padding: 0 conversion.vw(20);
  margin: 0 auto;

  @include breakpoint.sm {
    padding: 0 conversion.vw-sm(20);
  }

  @include breakpoint.md {
    padding: 0 20px;
  }
}

.section__title {
  margin: 0 auto conversion.vw(40);
  font-size: conversion.vw(32);
  font-weight: 600;
  line-height: 1.8;
  color: colors.$main;

  @include breakpoint.sm {
    margin: 0 auto conversion.vw-sm(40);
    font-size: conversion.vw-sm(32);
  }

  @include breakpoint.md {
    margin: 0 auto 40px;
    font-size: 32px;
  }
}
