@use '../mixin/breakpoint';
@use '../mixin/colors';
@use '../mixin/conversion';

.section {
  padding: conversion.vw(50) 0;

  @include breakpoint.smartphone-screen {
    padding: conversion.vw-sm(50) 0;
  }

  @include breakpoint.tablet-screen {
    padding: 80px 0;
  }

  &--hero {
    background: linear-gradient(135deg, colors.$main, #5067c5);

    @include breakpoint.tablet-screen {
      border-radius: 0 0 50% 50% / 0 0 8% 8%;
    }
  }
}

.section__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  padding: 0 conversion.vw(20);
  margin: 0 auto;

  @include breakpoint.smartphone-screen {
    padding: 0 conversion.vw-sm(20);
  }

  @include breakpoint.tablet-screen {
    padding: 0 20px;
  }
}

.section__title {
  display: grid;
  place-content: center;
  margin-bottom: conversion.vw(40);
  font-size: conversion.vw(32);
  font-weight: 600;
  line-height: 1.8;
  color: colors.$main;

  @include breakpoint.smartphone-screen {
    margin-bottom: conversion.vw-sm(40);
    font-size: conversion.vw-sm(32);
  }

  @include breakpoint.tablet-screen {
    margin-bottom: 40px;
    font-size: 32px;
  }
}

.section__lead {
  display: grid;
  gap: 1em;
  place-content: center;
  margin-bottom: conversion.vw(40);

  @include breakpoint.smartphone-screen {
    margin-bottom: conversion.vw-sm(40);
  }

  @include breakpoint.tablet-screen {
    margin-bottom: 40px;
  }
}
