.expert {
  background-color: $bgc;
  &__tab {
    &-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: get_vw(80);
      -webkit-box-shadow: 0 get_vw(7) get_vw(16) 0 rgba(0, 0, 0, .07);
              box-shadow: 0 get_vw(7) get_vw(16) 0 rgba(0, 0, 0, .07);
      @include sm() {
        margin-bottom: get_vw-sm(80);
        -webkit-box-shadow: 0 get_vw-sm(7) get_vw-sm(16) 0 rgba(0, 0, 0, .07);
                box-shadow: 0 get_vw-sm(7) get_vw-sm(16) 0 rgba(0, 0, 0, .07);
      }
      @include md() {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        margin-bottom: 80px;
        -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, .07);
                box-shadow: 0 7px 16px 0 rgba(0, 0, 0, .07);
      }
    }
    &-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 50%;
      padding: get_vw(12) get_vw(8);
      border-bottom: solid get_vw(1) $bgc;
      text-align: center;
      font-size: get_vw(15);
      color: #666;
      background-color: #fff;
      cursor: pointer;
      @include sm() {
        padding: get_vw-sm(12) get_vw-sm(8);
        border-bottom: solid get_vw-sm(1) $bgc;
        font-size: get_vw-sm(15);
      }
      @include md() {
        width: 100%;
        padding: 12px 8px;
        border-bottom: none;
        font-size: 15px;
      }
      &:not(:last-child) {
        border-right: solid get_vw(1) $bgc;
        @include sm() {
          border-right: solid get_vw-sm(1) $bgc;
        }
        @include md() {
          border-right: solid 1px $bgc;
        }
      }
      &:nth-child(5),
      &:nth-child(6) {
        border-bottom: none;
      }
      &.is-active {
        background-color: $main;
        color: #fff;
      }
    }
    &-target {
      display: none;
      &.is-active {
        display: block;
        -webkit-animation: fade 0.5s ease;
                animation: fade 0.5s ease;
      }
    }
  }
  &__info {
    margin-bottom: get_vw(80);
    @include sm() {
      margin-bottom: get_vw-sm(80);
    }
    @include md() {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 80px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__box {
    width: 100%;
    @include md() {
      width: 50%;
    }
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__summary {
    padding: get_vw(20);
    @include sm() {
      padding: get_vw-sm(20);
    }
    @include md() {
      padding: 20px;
    }
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
