@use '../mixin/breakpoint';
@use '../mixin/conversion';

.main {
  margin-top: conversion.vw(81);

  @include breakpoint.sm {
    margin-top: conversion.vw-sm(81);
  }

  @include breakpoint.md {
    margin-top: 81px;
  }
}
