@use '../mixin/breakpoint';
@use '../mixin/colors';
@use '../mixin/conversion';

#js-pagetop {
  opacity: 0;

  &.fadein {
    opacity: 1;
  }

  &:hover {
    opacity: 0.8;
  }
}

.pagetop {
  position: fixed;
  right: conversion.vw(15);
  bottom: conversion.vw(30);
  display: block;
  width: conversion.vw(50);
  height: conversion.vw(50);
  font-size: 0;
  line-height: conversion.vw(50);
  text-align: center;
  background: colors.$pagetop;
  border-radius: 50%;

  @include breakpoint.sm {
    right: conversion.vw-sm(15);
    bottom: conversion.vw-sm(30);
    width: conversion.vw-sm(50);
    height: conversion.vw-sm(50);
    line-height: conversion.vw-sm(50);
  }

  @include breakpoint.md {
    right: 15px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  i {
    font-size: conversion.vw(20);
    line-height: conversion.vw(50);
    color: #fff;

    @include breakpoint.sm {
      font-size: conversion.vw-sm(20);
      line-height: conversion.vw-sm(50);
    }

    @include breakpoint.md {
      font-size: 20px;
      line-height: 50px;
    }
  }
}
